{% extends 'CtrLogBase.html.twig' %}

{% block title 'Event Control' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}"/>
<link rel="stylesheet" href="{{ asset('assets/vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css') }}" />
<link rel="stylesheet" href="{{ asset('assets/vendor/easy-autocomplete/easy-autocomplete.min.css') }}" />
<link rel="stylesheet" href="{{ asset('assets/vendor/jqueryui/themes/ui-lightness/jquery-ui.min.css') }}" media="screen">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css" />
<style>
.severity1 {
    background-color: #E50D00;
    color: #FFFFFF;
}
.severity2 {
    background-color: #DF7200;
    color: #FFFFFF;
}
.severity3 {
    background-color: #D9D100;
    color: #FFFFFF;
}
.severity4 {
    background-color: #7CD300;
    color: #FFFFFF;
}
.severity5 {
    background-color: #1CCE00;
    color: #FFFFFF;
}
/* Modification to bootstrap css */
.page-header {
    padding-bottom: 0px;
    margin: 0px 0px 0px 0px;
    border-bottom: 1px solid #eee;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    border-width: 0 0 1px;
    z-index: 1030;
    padding-right: 20px;
    padding-left: 15px;
    background-color: #FFFFFF;
    max-height: 220px;
}

.alert {
  padding: 10px;
  margin-bottom: 2px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.modal-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.modal-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.modal-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.modal-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.modal-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

@-webkit-keyframes argh-my-eyes {
    0%   { background-color: #d9534f; }
    49% { background-color: #d9534f; }
    50% { background-color: white; }
    99% { background-color: white; }
    100% { background-color: #d9534f; }
}
@-moz-keyframes argh-my-eyes {
    0%   { background-color: #d9534f; }
    49% { background-color: #d9534f; }
    50% { background-color: white; }
    99% { background-color: white; }
    100% { background-color: #d9534f; }
}
@keyframes argh-my-eyes {
    0%   { background-color: #d9534f; }
    49% { background-color: #d9534f; }
    50% { background-color: white; }
    99% { background-color: white; }
    100% { background-color: #d9534f; }
}

.flash {
    -webkit-animation: argh-my-eyes 1s infinite;
    -moz-animation:    argh-my-eyes 1s infinite;
    animation:         argh-my-eyes 1s infinite;
}

@-webkit-keyframes row_flash {
    0%   { background-color: inherit; }
    50% { background-color: #f0ad4e; }
    100% { background-color: inherit; }
}

@-moz-keyframes row_flash {
    0%   { background-color: inherit; }
    50% { background-color: #f0ad4e; }
    100% { background-color: inherit; }
}

@keyframes row_flash {
    0%   { background-color: inherit; }
    50% { background-color: #f0ad4e; }
    100% { background-color: inherit; }
}

.row_flash {
    -webkit-animation: row_flash 1.5s infinite;
    -moz-animation:    row_flash 1.5s infinite;
    animation:         row_flash 1.5s infinite;
}

#logMap {
    height: 350px;
    width: 100%;
}

#largeLogMap {
    height: 600px;
    width: 100%;
}

#selectFilter { 
    color: black;
    background-color: white;
    font-size: 11px;
    border:1px solid blue;
    padding: 1px 2px;
    text-align: center;
    cursor: pointer;
    width:90px;
    font-weight:bold;
}

#selectFilter option { color: blue; }

@media (max-width: @screen-xs) {
    body{font-size: 10px;}
}

@media (max-width: @screen-sm) {
    h1{font-size: 10px;}
    #HeaderClock{font-size: 10px;}
}

/* collapsed sidebar styles */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -46%;
  }
  .row-offcanvas-right.active {
    right: 50%;
  }
  .row-offcanvas-left.active {
    left: 50%;
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 46%;
  }
}

</style>
{% endblock %}

{% block headertop %}
    <button type="button" class="btn" data-toggle="offcanvas" data-target=".sidebar-nav">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
    </button>
    Event Control
{% endblock %}

{% block hiddenheadertop %}
    <div class="container-fluid">
        <div class="col-xs-12 col-md-5">
            <h1>Event Control</h1>
        </div>
        <div class="col-md-3 col-xs-12">
            {% if app.user %}
                <h4>
                    <div id="HeaderWeather">
                    </div>
                </h4>
            {% endif %}
        </div>
        <div class="col-md-4 col-xs-12">
            {% if app.user %}
                <h1>
                    <div id="HeaderClock">
                    </div>
                </h1>
            {% endif %}
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    <script type="text/javascript" src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/heatmap/heatmap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/moment/min/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/moment-timezone/moment-timezone-with-data.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/mousetrap/1.4.6/mousetrap.min.js"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/easy-autocomplete/jquery.easy-autocomplete.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/geolocator/2.1.0/geolocator.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0L5FuS1PZXDw90PINaMckDeQyIj_em1M"></script>
    <script type="text/javascript"src="{{ asset('assets/vendor/jqueryui/jquery-ui.min.js') }}"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript">
    
        var alertData = null;
        //var oldAlertData = null;
        var display = false;
        var alertNumber = 0;
        var alertCurrent = 0;
        var alertCurrentLength = 0;
        var alertCounter = 0;
        
        function resizeHeader() {
            $(".page-header-push").height($(".page-header").height()+3);
        }
        $(document).ready(resizeHeader);
        $(window).resize(resizeHeader);
        
        {% if app.user %}
            function updateClock ( )
                {
                var currentTime = new Date ( );
                var currentHours = currentTime.getHours ( );
                var currentMinutes = currentTime.getMinutes ( );
                var currentSeconds = currentTime.getSeconds ( );

                // Pad the minutes and seconds with leading zeros, if required
                currentMinutes = ( currentMinutes < 10 ? "0" : "" ) + currentMinutes;
                currentSeconds = ( currentSeconds < 10 ? "0" : "" ) + currentSeconds;

                // Choose either "AM" or "PM" as appropriate
                var timeOfDay = ( currentHours < 12 ) ? "AM" : "PM";

                // Convert the hours component to 12-hour format if needed
                currentHours = ( currentHours > 12 ) ? currentHours - 12 : currentHours;

                // Convert an hours component of "0" to "12"
                currentHours = ( currentHours == 0 ) ? 12 : currentHours;

                // Compose the string for display
                //var currentTimeString = currentHours + ":" + currentMinutes + ":" + currentSeconds + " " + timeOfDay;
                var currentTimeString = currentTime.toLocaleString('en-GB');

                $("#HeaderClock").html(currentTimeString);

            }

            function updateWeatherWarning ( )
                {
                    $.ajax({
                    type:'POST',
                    url: '{{ path('event_weather_warning') }}',
                    cache: false,
                    global: false,
                    success:function(data)
                        {
                            $("#HeaderWeather").html(data);
                            if(data == '') {
                                $('#HeaderWeather').hide(500);
                            } else {
                                $('#HeaderWeather').show(500);
                            }
                            setTimeout(function(){
                                resizeHeader();
                            }, 502);
                            
                        }
                    });
                }
            
            function AlertShow()
            {
                display = false;
                AlertCheck();
            }
            
            function AlertUpdate()
                {
                $.getJSON('{{ path('Alert_Queue') }}', function(data) {
                    alertData = data;
                });
            }
            
            function AlertCheck()
            {
                if(alertData && display === false)
                {
                    loadAlertModal(alertData, 0);
                    alertNumber=0;
                } else if(alertData && alertCurrent !== alertNumber){
                    loadAlertModal(alertData, alertNumber);
                } else if(alertData && alertCurrentLength !== alertData.length){
                    loadAlertModal(alertData, alertNumber);
                }
                if(alertData && display === true)
                {
                    alertCounter = alertCounter + 1;
                }
                if(alertCounter === 300)
                {
                    display = false;
                }
                if(alertData)
                {
                    $("#viewAlertsButton").show();
                }else{
                    $("#viewAlertsButton").hide();
                }
            }
            
            function loadAlertModal(alerts, i)
            {
                var createdString = moment.utc(alerts[i].created.date, "YYYY-MM-DD HH:mm:ss.SSSSSS").local().format("HH:mm:ss ll");
                
                if(alerts.length <= 1)
                {
                    $('#mainModalFooter').html('<div class="row"><div class="col-md-4"><button type="button" class="btn btn-info btn-block">'+createdString+'</button></div><div class="col-md-3 col-md-offset-5"><button type="button" class="btn btn-primary btn-block" onclick="Acknowledge('+alerts[i].id+');">Acknowledge</button></div></div>');
                } else {
                    if(i-1 < 0)
                    {
                        $('#mainModalFooter').html('<div class="row"><div class="col-md-4"><button type="button" class="btn btn-info btn-block">'+createdString+'</button></div><div class="col-md-2 col-md-offset-3"><button type="button" class="btn btn-default btn-block" id="alerts-next" onclick="nextAlert();">Next</button></div><div class="col-md-3"><button type="button" class="btn btn-primary btn-block" onclick="Acknowledge('+alerts[i].id+');">Acknowledge</button></div></div>');
                    } else if(i+1 >= alerts.length) {
                        $('#mainModalFooter').html('<div class="row"><div class="col-md-4"><button type="button" class="btn btn-info btn-block">'+createdString+'</button></div><div class="col-md-2 col-md-offset-1"><button type="button" class="btn btn-default btn-block" id="alerts-previous" onclick="previousAlert();">Back</button></div><div class="col-md-3 col-md-offset-2"><button type="button" class="btn btn-primary btn-block" onclick="Acknowledge('+alerts[i].id+');">Acknowledge</button></div></div>');
                    } else {
                        $('#mainModalFooter').html('<div class="row"><div class="col-md-4"><button type="button" class="btn btn-info btn-block">'+createdString+'</button></div><div class="col-md-2 col-md-offset-1"><button type="button" class="btn btn-default btn-block" id="alerts-previous" onclick="previousAlert();">Back</button></div><div class="col-md-2"><button type="button" class="btn btn-default btn-block" id="alerts-next" onclick="nextAlert();">Next</button></div><div class="col-md-3"><button type="button" class="btn btn-primary btn-block" onclick="Acknowledge('+alerts[i].id+');">Acknowledge</button></div></div>');    
                    }
                }
                $('#mainModalHeader').removeClass();
                $('#mainModalHeader').addClass('modal-header');
                var NewClass = 'modal-'+alerts[i].type;
                $('#mainModalHeader').addClass(NewClass);
                $('#mainModalLabel').html(alerts[i].title);
                if(alerts[i].url){
                    $('#mainModalBody').html(alerts[i].message+' <a href="'+alerts[i].url+'">Link</a>');
                } else {
                    $('#mainModalBody').html(alerts[i].message);
                }
                $('#mainModal').modal('show');
                alertCurrentLength = alerts.length;
                alertCurrent = i;
                display = true;
            }
    
            function nextAlert()
            {
                alertNumber = alertNumber+1;     
                AlertCheck();
            }

            function previousAlert()
            {
                alertNumber = alertNumber-1; 
                AlertCheck();
            }
            
            function Acknowledge(alertID)
            {
                var url = "{{ path('Alert_Ack') }}/"+alertID;
                $.post(url);
                AlertUpdate();
                if(alertData.length-1 > alertNumber)
                {
                    loadAlertModal(alertData, alertNumber);
                } else if(alertData.length-1 === alertNumber && alertNumber > 0) {
                    alertNumber = alertNumber-1;
                    loadAlertModal(alertData, alertNumber);
                } else {
                    $('#mainModal').modal('hide');
                    $("#viewAlertsButton").hide();
                    $('body').removeClass('modal-open');
                    $('.modal-backdrop').remove();
                    alertcounter = 299;
                }
                AlertCheck();
            }
            $(document).ready(function()
            {
                $('[data-toggle=offcanvas]').click(function() {
                    $('.row-offcanvas').toggleClass('active');
                });
                $('#HeaderWeather').hide();
                
                updateClock();
                //updateWeatherWarning();
                setInterval('updateClock()', 1000);
                setInterval('AlertUpdate()', 5000);
                setInterval('AlertCheck()', 500);
                //setInterval('updateWeatherWarning()', 30000);
                $('#mainModal').on('hidden.bs.modal', function (e) {
                    alertCounter = 0;
                    if(alertData){
                        //alertCurrentLength = alertData.length;
                    } else {
                        alertCurrentLength = 0;
                    }
                });
            });

            $(document).ready(function()
            {
                Mousetrap.bind('ctrl+e', function(e) {
                       e.preventDefault();
                       window.location.href = "{{ path('new_entry') }}";
                });
                Mousetrap.bind('ctrl+o', function(e) {
                       e.preventDefault();
                       window.location.href = "{{ path('sort_filter_log', {'sort': "desc", 'filter': "open"}) }}";
                });
            });
        {% endif %}
    </script>
    
{% endblock %}
