{% extends 'BathSU.html.twig' %}
{% block headerbottom %}
Control Room Log Edit
{% endblock %}
{% block layout %}
    {% embed '3-9.html.twig' %}
        {% block content %}
            <div class="wrapper">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Log Entry Form</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{ form_start(log_entry) }}
                            {{ form_errors(log_entry) }}
                            {{ form_widget(log_entry.reset) }}
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form_label(log_entry.operator) }} 
                                        {{ form_errors(log_entry.operator) }}
                                        {{ form_widget(log_entry.operator) }}
                                    </div>
                                </div>
                                <div class="col-md-6">    
                                    <div class="form-group">
                                        {{ form_label(log_entry.log_entry_open_time) }}
                                        {{ form_errors(log_entry.log_entry_open_time) }}
                                        <div class='input-group date' id='datetimepicker1'>
                                            {{ form_widget(log_entry.log_entry_open_time) }}
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>         
                                </div>
                            </div>
                                {% if (entry.longitude is null) or (entry.latitude is null) %}
                                    <div class="row">
                                        <div class="col-md-12">  
                                            <div class="form-group">
                                                {{ form_label(log_entry.log_blurb) }}
                                                {{ form_errors(log_entry.log_blurb) }}
                                                {{ form_widget(log_entry.log_blurb) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5">  
                                            <div class="form-group">
                                            {{ form_label(log_entry.location) }}
                                            {{ form_errors(log_entry.location) }}
                                            {{ form_widget(log_entry.location) }}
                                            </div>
                                        </div>
                                        <div class="col-md-5">  
                                            <div class="form-group">
                                                {{ form_label(log_entry.reported_by) }}
                                                {{ form_errors(log_entry.reported_by) }}
                                                {{ form_widget(log_entry.reported_by) }}
                                            </div>
                                        </div>
                                        <div class="col-md-2">  
                                            <div class="form-group">
                                                {{ form_label(log_entry.park_alert) }}
                                                {{ form_errors(log_entry.park_alert) }}
                                                {{ form_widget(log_entry.park_alert) }}
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        {{ form_label(log_entry.log_blurb) }}
                                                        {{ form_errors(log_entry.log_blurb) }}
                                                        {{ form_widget(log_entry.log_blurb) }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">  
                                                    <div class="form-group">
                                                    {{ form_label(log_entry.location) }}
                                                    {{ form_errors(log_entry.location) }}
                                                    {{ form_widget(log_entry.location) }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-10">  
                                                    <div class="form-group">
                                                        {{ form_label(log_entry.reported_by) }}
                                                        {{ form_errors(log_entry.reported_by) }}
                                                        {{ form_widget(log_entry.reported_by) }}
                                                    </div>
                                                </div>
                                                <div class="col-md-2">  
                                                    <div class="form-group">
                                                        {{ form_label(log_entry.park_alert) }}
                                                        {{ form_errors(log_entry.park_alert) }}
                                                        {{ form_widget(log_entry.park_alert) }}
                                                    </div>
                                                </div>
                                            </div>        
                                        </div>
                                        <div class="col-md-4">
                                            <br>
                                            <div id="map">
                                                <img width="350" src="https://maps.googleapis.com/maps/api/staticmap?markers=color:blue%7Clabel:%7C{{ entry.latitude }},{{ entry.longitude }}&scale=false&size=350x250&maptype=roadmap&format=png&visual_refresh=true&zoom=18&key=AIzaSyBCpMw_PcJRHplbVUskg0ltvmsCWxFyUPU" alt="Google Map of Entry">
                                            </div>                                            
                                        </div>
                                    </div>
                                {% endif %}
                            <div id="submit_button">
                                {{ form_widget(log_entry.submit) }} <br>
                                {{ form_end(log_entry) }}
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-3" data-toggle="tooltip" data-placement="bottom" title="ctrl-g">
                                    {% if generalTab is null %}
                                        <button type="button" id="general_button" class="btn btn-info-outline btn-block">
                                    {% else %}
                                        <button type="button" id="general_button" class="btn btn-info btn-block">
                                    {% endif %}
                                        General
                                    </button>
                                </div>
                                <div class="col-md-3" data-toggle="tooltip" data-placement="bottom" title="ctrl-m"> 
                                    {% if medicalTab is null %}                                      
                                        <button type="button" id="medical_button" class="btn btn-info-outline btn-block">
                                    {% else %}
                                        <button type="button" id="medical_button" class="btn btn-info btn-block">
                                    {% endif %}    
                                        Medical
                                    </button>
                                </div>
                                <div class="col-md-3" data-toggle="tooltip" data-placement="bottom" title="ctrl-s">
                                    {% if securityTab is null %}
                                        <button type="button" id="security_button" class="btn btn-info-outline btn-block">
                                    {% else %}
                                        <button type="button" id="security_button" class="btn btn-info btn-block">
                                    {% endif %}    
                                        Security
                                    </button>
                                </div>
                                <div class="col-md-3" data-toggle="tooltip" data-placement="bottom" title="ctrl-l">
                                    {% if lostTab is null %}
                                        <button type="button" id="lost_button" class="btn btn-info-outline btn-block">
                                    {% else %}    
                                        <button type="button" id="lost_button" class="btn btn-info btn-block">
                                    {% endif %}
                                        Lost Property
                                    </button>
                                </div>
                            </div>
                            <div class="row" id="General">
                                <div class="col-md-12">
                                    {% block general %}
                                        {% include 'generalForm.twig' %}
                                    {% endblock %}
                                </div>
                            </div>
                            <div class="row" id="Medical">
                                <div class="col-md-12">
                                    {% block medical %}
                                        {% include 'medicalForm.twig' %}
                                    {% endblock %}
                                </div>
                            </div>
                            <div class="row" id="Security">
                                <div class="col-md-12">
                                    {% block security %}
                                        {% include 'securityForm.twig' %}
                                    {% endblock %}
                                </div>
                            </div>
                            <div class="row" id="Lost">
                                <div class="col-md-12">
                                    {% block lostProperty %}
                                        {% include 'lostPropertyForm.twig' %}
                                    {% endblock %}
                                </div>
                            </div>                                
                </div>
            </div>
        {% endblock %}
        {% block sidebar %}
            {% include 'sidebar.twig' %}
        {% endblock %}
    {% endembed %}
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#General').hide();
            $('#Medical').hide();
            $('#Security').hide();
            $('#Lost').hide();
            $('.tsText').on({
                keydown: function(e) {
                    if (e.which == '13') {
                        e.preventDefault();
                        var timestamp = new Date();
                        var currentText = $(this).val();
                        $(this).val(currentText + "\n[" + timestamp.toLocaleString('en-GB') + "] ");
                    }
                }
            });
            Mousetrap.bind('ctrl+s', function(e) {
                e.preventDefault();
                showSecurity();
            });
            Mousetrap.bind('ctrl+m', function(e) {
                e.preventDefault();
                showMedical();
            });
            Mousetrap.bind('ctrl+g', function(e) {
                e.preventDefault();
                showGeneral();
            });
            Mousetrap.bind('ctrl+l', function(e) {
                e.preventDefault();
                showLostProperty();
            });
        });
        
        $(function () {
            $('#datetimepicker1').datetimepicker({
                useCurrent: true,
                format: 'YYYY-MM-DD HH:mm:ss',
                showTodayButton: true
            });
        });
        
        function showGeneral(){
            $('#General').show(200);
            $('#Medical').hide(100);
            $('#Security').hide(100);
            $('#Lost').hide(100);
            $('#submit_button').hide();
        }
        function showMedical(){
            $('#Medical').show(200);
            $('#General').hide(100);
            $('#Security').hide(100);
            $('#Lost').hide(100);
            $('#submit_button').hide();
        }
        function showSecurity(){
            $('#Security').show(200);
            $('#Medical').hide(100);
            $('#General').hide(100);
            $('#Lost').hide(100);
            $('#submit_button').hide();
        }
        function showLostProperty(){
            $('#Lost').show(500);
            $('#Medical').hide(250);
            $('#Security').hide(250);
            $('#General').hide(250);
            $('#submit_button').hide();
        }
        $('#security_button').click(showSecurity);
        $('#general_button').click(showGeneral);
        $('#medical_button').click(showMedical);
        $('#lost_button').click(showLostProperty);

        $('#general_close_button').click(function(){
            $('#General').hide(100);
            $('#submit_button').show();
        }); 
        $('#security_close_button').click(function(){
            $('#Security').hide(100);
            $('#submit_button').show();
        }); 
        $('#medical_close_button').click(function(){
            $('#Medical').hide(100);
            $('#submit_button').show();
        }); 
        $('#lost_close_button').click(function(){
            $('#Lost').hide(100);
            $('#submit_button').show();
        });
        
        var locationOptions = {
            url: function(phrase) {
                    return "{{ path('location_lookup', {'location': phrase}) }}";
            },
            getValue: "location",
            list: {
                maxNumberOfElements: 5,
		match: {
			enabled: true
		}
            }
        };
        
        var reportedOptions = {
            url: function(phrase) {
                    return "{{ path('reported_by_lookup', {'reported': phrase}) }}";
            },

            getValue: "reported_by",
            list: {
		maxNumberOfElements: 5,
		match: {
			enabled: true
		}
            }
        };

        $("#new_entry_form_location").easyAutocomplete(locationOptions);
        $("#new_entry_form_reported_by").easyAutocomplete(reportedOptions);
        
        
        //Map Overlay Below here
        {% if (entry.longitude is not null) and (entry.latitude is not null) %}
        
            /* 
            * To change this license header, choose License Headers in Project Properties.
            * To change this template file, choose Tools | Templates
            * and open the template in the editor.
            */

            var overlay;
            EventSiteOverlay.prototype = new google.maps.OverlayView();

            // Initialize the map and the custom overlay.

            function initMap() {
                var map = new google.maps.Map(document.getElementById('map'), {
                  zoom: 17,
                  center: {lat: 51.379300, lng: -2.32700},
                  mapTypeId: 'satellite'
                });

                var bounds = new google.maps.LatLngBounds(
                    new google.maps.LatLng(51.37808, -2.32938),
                    new google.maps.LatLng(51.38039, -2.32373));

                var srcImage = 'https://eventcontrol.nb221.com/media/png/SB16_SITE';

                overlay = new EventSiteOverlay(bounds, srcImage, map);

                //var marker = new google.maps.Marker({
                //    position: {lat:{{ entry.latitude }}, lng:{{ entry.longitude }}},
                //    map: map
                //  });
            }

            /** @constructor */
            function EventSiteOverlay(bounds, image, map) {

              // Initialize all properties.
              this.bounds_ = bounds;
              this.image_ = image;
              this.map_ = map;

              // Define a property to hold the image's div. We'll
              // actually create this div upon receipt of the onAdd()
              // method so we'll leave it null for now.
              this.div_ = null;

              // Explicitly call setMap on this overlay.
              this.setMap(map);
            }

            /**
             * onAdd is called when the map's panes are ready and the overlay has been
             * added to the map.
             */
            EventSiteOverlay.prototype.onAdd = function() {

              var div = document.createElement('div');
              div.style.borderStyle = 'none';
              div.style.borderWidth = '0px';
              div.style.position = 'absolute';

              // Create the img element and attach it to the div.
              var img = document.createElement('img');
              img.src = this.image_;
              img.style.width = '100%';
              img.style.height = '100%';
              img.style.position = 'absolute';
              div.appendChild(img);

              this.div_ = div;

              // Add the element to the "overlayLayer" pane.
              var panes = this.getPanes();
              panes.overlayLayer.appendChild(div);
            };

            EventSiteOverlay.prototype.draw = function() {

              // We use the south-west and north-east
              // coordinates of the overlay to peg it to the correct position and size.
              // To do this, we need to retrieve the projection from the overlay.
              var overlayProjection = this.getProjection();

              // Retrieve the south-west and north-east coordinates of this overlay
              // in LatLngs and convert them to pixel coordinates.
              // We'll use these coordinates to resize the div.
              var sw = overlayProjection.fromLatLngToDivPixel(this.bounds_.getSouthWest());
              var ne = overlayProjection.fromLatLngToDivPixel(this.bounds_.getNorthEast());

              // Resize the image's div to fit the indicated dimensions.
              var div = this.div_;
              div.style.left = sw.x + 'px';
              div.style.top = ne.y + 'px';
              div.style.width = (ne.x - sw.x) + 'px';
              div.style.height = (sw.y - ne.y) + 'px';
              div.style.opacity = "0.7";
            };

            // The onRemove() method will be called automatically from the API if
            // we ever set the overlay's map property to 'null'.
            EventSiteOverlay.prototype.onRemove = function() {
              this.div_.parentNode.removeChild(this.div_);
              this.div_ = null;
            };

            google.maps.event.addDomListener(window, 'load', initMap);
        
        {% endif %}



    </script>        
{% endblock %}