{# app/Resources/views/eventForm.html.twig #}
{% extends 'BathSU.html.twig' %}
{% block headerbottom %}
Event Entry Form
{% endblock %}
{% block layout %}
    {% embed '3-9.html.twig' %}
        {% block content %}
            <div class="wrapper">
                <div class="row">
                    <div class="col-md-12">
                        {{ form_start(form) }}
                        <br>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-2">  
                                    {{ form_label(form.name) }} 
                                    {{ form_errors(form.name) }}
                                </div>
                                <div class="col-md-6"> 
                                    {{ form_widget(form.name) }}
                                </div>
                            </div>
                        </div><br>
                        <div class="row">     
                            <div class="form-group">
                                <div class="col-md-2">  
                                    {{ form_label(form.client) }} 
                                    {{ form_errors(form.client) }}
                                </div>
                                <div class="col-md-6">                                     
                                    {{ form_widget(form.client) }}
                                </div>
                            </div>
                        </div><br>
                        <div class="row">     
                            <div class="form-group">
                                <div class="col-md-2">  
                                    {{ form_label(form.event_lat_long) }} 
                                    {{ form_errors(form.event_lat_long) }}
                                </div>
                                <div class="col-md-6">                                     
                                    {{ form_widget(form.event_lat_long) }}
                                </div>
                            </div>
                        </div><br>
                        <div class="row">   
                            <div class="form-group">                                
                                <div class="col-md-2">
                                    {{ form_label(form.event_date) }} 
                                    {{ form_errors(form.event_date) }}
                                </div>
                                <div class="col-md-6">                                     
                                    <div class='input-group date' id='datetimepicker1'>
                                        {{ form_widget(form.event_date) }}
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div><br>
                        <div class="row">                                                        
                            <div class="form-group">
                                <div class="col-md-2">
                                    {{ form_label(form.event_log_start_date) }} 
                                    {{ form_errors(form.event_log_start_date) }}
                                </div>
                                <div class="col-md-6"> 
                                    <div class='input-group date' id='datetimepicker2'>
                                        {{ form_widget(form.event_log_start_date) }}
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div><br>
                        <div class="row">   
                            <div class="form-group">
                                <div class="col-md-2">
                                    {{ form_label(form.event_log_stop_date) }} 
                                    {{ form_errors(form.event_log_stop_date) }}
                                </div>
                                <div class="col-md-6">                                     
                                    <div class='input-group date' id='datetimepicker3'>
                                        {{ form_widget(form.event_log_stop_date|date('Y-m-d H:i:s', "Europe/London") ) }}
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div><br>
                        <div class="row">   
                            <div class="form-group">                                
                                <div class="col-md-2">
                                    {{ form_label(form.Users) }} 
                                    {{ form_errors(form.Users) }}
                                </div>
                                <div class="col-md-6">
                                    {% for operator in form.Users %}
                                        {{ form_widget(operator) }} {{ form_label(operator) }}<br>
                                    {% endfor %}
                                </div>
                            </div>
                        </div><br>
                        {#<div class="row">
                            <div class="form-group">
                                <div class="col-md-2">
                                    {{ form_label(form.venues) }}
                                    {{ form_errors(form.venues) }}
                                </div>
                                <div class="col-md-6">
                                    {% for venue in form.venues %}
                                        {{ form_widget(venue) }} {{ form_label(venue) }}<br>
                                    {% endfor %}
                                </div>
                            </div>
                        </div><br> #}
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-2">
                                    {{ form_label(form.event_venues) }}
                                    {{ form_errors(form.event_venues) }}
                                </div>
                                <div class="col-md-6">
                                    {% for venue in form.event_venues %}
                                        {{ form_widget(venue) }} {{ form_label(venue) }}<br>
                                    {% endfor %}
                                </div>
                            </div>
                        </div><br>
                        <div class="row">   
                            <div class="form-group">
                                <div class="col-md-2">
                                    {{ form_label(form.UPSs) }} 
                                    {{ form_errors(form.UPSs) }}
                                </div>
                                <div class="col-md-4">
                                    {% for UPS in form.UPSs %}
                                        {{ form_widget(UPS) }} {{ form_label(UPS) }}<br>
                                    {% endfor %}
                                </div>
                            </div>
                        </div><br>
                        <div class="row">   
                            <div class="form-group">
                                <div class="col-md-2">
                                    {{ form_label(form.northEastBounds_lat_long) }} 
                                    {{ form_errors(form.northEastBounds_lat_long) }}
                                </div>
                                <div class="col-md-6">
                                    {{ form_widget(form.northEastBounds_lat_long) }}
                                </div>
                            </div>
                        </div><br>
                        <div class="row">  
                            <div class="form-group">
                                <div class="col-md-2">
                                    {{ form_label(form.southWestBounds_lat_long) }} 
                                    {{ form_errors(form.southWestBounds_lat_long) }}
                                </div>
                                <div class="col-md-6">
                                    {{ form_widget(form.southWestBounds_lat_long) }}
                                </div>
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-2">
                                    {{ form_label(form.overlay_imageFile) }} 
                                    {{ form_errors(form.overlay_imageFile) }}
                                </div>
                                <div class="col-md-6">
                                    {{ form_widget(form.overlay_imageFile) }}
                                </div>
                            </div>
                        </div><br>
                        {% if current_overlay is defined %}
                            {% if current_overlay %}
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-2">
                                            <strong>Current Overlay File: </strong>
                                        </div>
                                        <div class="col-md-6">
                                            <a href='{{ path('overlay', {'filename': current_overlay}) }}'>{{ current_overlay }}</a>
                                        </div>
                                    </div>
                                </div><br>
                            {% endif %}
                        {% endif %}
                        <div class="row">   
                            <div class="form-group">
                                <div class="col-md-2">
                                    {{ form_label(form.locations) }}
                                    {{ form_errors(form.locations) }}
                                </div>
                                <div class="col-md-6">
                                    <ul class="locations list-unstyled" data-prototype="{{ form_widget(form.locations.vars.prototype.locationText)|e('html_attr') }} {{ form_widget(form.locations.vars.prototype.locationLatLong)|e('html_attr') }}">
                                        {# iterate over each existing location and render its fields #}
                                        {% for location in form.locations %}
                                            <li>
                                                {{ form_widget(location.locationText) }}
                                                {{ form_widget(location.locationLatLong) }}
                                                {{ form_errors(location.locationText) }}
                                                {{ form_errors(location.locationLatLong) }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                {% do form.locations.setRendered %}
                            </div>
                        </div><br>
                        <div class="row">  
                            <div class="col-md-8">
                                {% if event.id is defined %}
                                    <button type="button" id="delete_button" class="btn btn-warning btn-block" onClick="location.href='{{ path('delete_event', {'deleteId': event.id}) }}'">Delete Event</button>
                                {% endif %}
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
        {% block sidebar %}
            {% include 'sidebar.twig' %}
            {% include 'darksky.html.twig' %}
        {% endblock %}
    {% endembed %}
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        
        var $collectionHolder;

        // setup an "add a location" link
        var $addLocationLink = $('<a href="#" class="add_location_link">Add a new location</a>');
        var $newLinkLi = $('<li></li>').append($addLocationLink);

        jQuery(document).ready(function() {
            // Get the ul that holds the collection of locations
            $collectionHolder = $('ul.locations');

            // add a delete link to all of the existing locations form li elements
            $collectionHolder.find('li').each(function() {
                addLocationFormDeleteLink($(this));
            });    
        
            // Get the ul that holds the collection of locations
            $collectionHolder = $('ul.locations');

            // add the "add a location" anchor and li to the locations ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addLocationLink.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new location form (see next code block)
                addLocationForm($collectionHolder, $newLinkLi);
            });
        });
        
        function addLocationForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a location" link li
            var $newFormLi = $('<li></li>').append(newForm);
            $newLinkLi.before($newFormLi);
            
            addLocationFormDeleteLink($newFormLi);
        }
        
        function addLocationFormDeleteLink($locationFormLi) {
            var $removeFormA = $('<a href="#">Delete this location</a>');
            $locationFormLi.append($removeFormA);

            $removeFormA.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // remove the li for the location form
                $locationFormLi.remove();
            });
        }
        
        $(function () {
            $('#datetimepicker1').datetimepicker({
                useCurrent: false,
                format: 'YYYY-MM-DD HH:mm:ss',
                showTodayButton: true
            });
        });
        
        $(function () {
            $('#datetimepicker2').datetimepicker({
                useCurrent: false,
                format: 'YYYY-MM-DD HH:mm:ss',
                showTodayButton: true
            });
        });
        
        $(function () {
            $('#datetimepicker3').datetimepicker({
                useCurrent: false,
                format: 'YYYY-MM-DD HH:mm:ss',
                showTodayButton: true
            });
        });
        
        
    </script>
    
{% endblock %}        
