{# app/Resources/views/eventForm.html.twig #}
{% extends 'BathSU.html.twig' %}
{% block headerbottom %}
Event Entry Form
{% endblock %}
{% block layout %}
    {% embed '3-9.html.twig' %}
        {% block content %}
            <div class="wrapper">
                <div class="row">
                    <div class="col-md-12">
                        {{ form_start(form) }}
                        <br>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-2">  
                                    {{ form_label(form.name) }} 
                                    {{ form_errors(form.name) }}
                                </div>
                                <div class="col-md-6"> 
                                    {{ form_widget(form.name) }}
                                </div>
                            </div>
                        </div><br>
                        <div class="row">     
                            <div class="form-group">
                                <div class="col-md-2">  
                                    {{ form_label(form.client) }} 
                                    {{ form_errors(form.client) }}
                                </div>
                                <div class="col-md-6">                                     
                                    {{ form_widget(form.client) }}
                                </div>
                            </div>
                        </div><br>
                        <div class="row">     
                            <div class="form-group">
                                <div class="col-md-2">  
                                    {{ form_label(form.event_lat_long) }} 
                                    {{ form_errors(form.event_lat_long) }}
                                </div>
                                <div class="col-md-6">                                     
                                    {{ form_widget(form.event_lat_long) }}
                                </div>
                            </div>
                        </div><br>
                        <div class="row">   
                            <div class="form-group">                                
                                <div class="col-md-2">
                                    {{ form_label(form.event_date) }} 
                                    {{ form_errors(form.event_date) }}
                                </div>
                                <div class="col-md-6">                                     
                                    <div class='input-group date' id='datetimepicker1'>
                                        {{ form_widget(form.event_date) }}
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div><br>
                        <div class="row">                                                        
                            <div class="form-group">
                                <div class="col-md-2">
                                    {{ form_label(form.event_log_start_date) }} 
                                    {{ form_errors(form.event_log_start_date) }}
                                </div>
                                <div class="col-md-6"> 
                                    <div class='input-group date' id='datetimepicker2'>
                                        {{ form_widget(form.event_log_start_date) }}
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div><br>
                        <div class="row">   
                            <div class="form-group">
                                <div class="col-md-2">
                                    {{ form_label(form.event_log_stop_date) }} 
                                    {{ form_errors(form.event_log_stop_date) }}
                                </div>
                                <div class="col-md-6">                                     
                                    <div class='input-group date' id='datetimepicker3'>
                                        {{ form_widget(form.event_log_stop_date) }}
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div><br>
                        <div class="row">   
                            <div class="form-group">                                
                                <div class="col-md-2">
                                    {{ form_label(form.event_operators) }} 
                                    {{ form_errors(form.event_operators) }}
                                </div>
                                <div class="col-md-6">
                                    {% for operator in form.event_operators %}
                                        {{ form_widget(operator) }} {{ form_label(operator) }}<br>
                                    {% endfor %}
                                </div>
                            </div>
                        </div><br>
                        <div class="row">  
                            <div class="col-md-8">
                                {{ form_end(form) }}
                                <button type="button" id="delete_button" class="btn btn-warning btn-block" onClick="location.href='{{ path('delete_event', {'deleteId': event.id}) }}'">Delete Event</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
        {% block sidebar %}
            {% include 'sidebar.twig' %}
        {% endblock %}
    {% endembed %}
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker({
                useCurrent: false,
                format: 'YYYY-MM-DD HH:mm:ss',
                showTodayButton: true
            });
        });
        
        $(function () {
            $('#datetimepicker2').datetimepicker({
                useCurrent: false,
                format: 'YYYY-MM-DD HH:mm:ss',
                showTodayButton: true
            });
        });
        
        $(function () {
            $('#datetimepicker3').datetimepicker({
                useCurrent: false,
                format: 'YYYY-MM-DD HH:mm:ss',
                showTodayButton: true
            });
        });
    </script>        
{% endblock %}        