{% extends 'BathSU.html.twig' %}
{% block headerbottom %}
Event Control Fire Register
{% endblock %}
{% block layout %}
    {% embed '3-9.html.twig' %}
        {% block content %}
            <div class="wrapper">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Attendees</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {% if attendees is empty %}
                            No attendees signed in
                        {% else %}
                            <table id="Register" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Phone</th>
                                        <th>Email</th>
                                        <th>Time In</th>
                                        <th>Time Out</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for attendee in attendees %}
                                        <tr>
                                            <td>{{ attendee.name }}</td>
                                            <td>{{ attendee.phone }}</td>
                                            <td>{{ attendee.email }}</td>
                                            <td>{{ attendee.time_in|date('Y-m-d H:i:s', "Europe/London") }}</td>
                                            {% if attendee.time_out is null %}
                                                <td><a href="{{ path('signout', {'id': attendee.id}) }}">Sign-out</a></td>
                                            {% else %}
                                            <td>{{ attendee.time_out|date('Y-m-d H:i:s', "Europe/London") }}</td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}                           
                                </tbody>
                            </table>
                            <div class="col-md-12">
                                <a href="{{ path('signout', {'id': 'all'}) }}" class="btn btn-warning btn-block">
                                   Sign All Out
                                </a>
                                <br>
                                {% if is_full_view() %}
                                    <a href="{{ path('iframe_pdf_fire_register') }}" class="btn btn-info btn-block">
                                {% else %}
                                    <a href="{{ path('pdf_fire_register') }}" target="_blank" class="btn btn-info btn-block">
                                {% endif %}
                                   Generate PDF Fire Register
                                </a>
                            </div> 
                        {% endif %}  
                    </div>
                </div>
            </div>
        {% endblock %}
        {% block sidebar %}
            {% include 'sidebar.twig' %}
            {% include 'darksky.html.twig' %}
        {% endblock %}
    {% endembed %}
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#Register').DataTable( {
                "order": [[ 4, 'desc' ], [ 3, 'desc' ]],
                "pageLength": 25,
                "lengthMenu": [ [10, 15, 25, 50, -1], [10, 15, 25, 50, "All"] ]
            });
        });
    </script>
{% endblock %}
