{% extends 'BathSU.html.twig' %}
{% block headerbottom %}
Control Room Log New Entry
{% endblock %}
{% block layout %}
    {% embed '3-9.html.twig' %}
        {% block content %}
            <div class="wrapper">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Log Entry Form</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{ form_start(log_entry) }}
                            {{ form_errors(log_entry) }}
                            {{ form_widget(log_entry.reset) }}
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form_label(log_entry.operator) }} 
                                        {{ form_errors(log_entry.operator) }}
                                        {{ form_widget(log_entry.operator) }}
                                    </div>
                                </div>
                                <div class="col-md-4">    
                                    <div class="form-group">
                                        {{ form_label(log_entry.log_entry_open_time) }}
                                        {{ form_errors(log_entry.log_entry_open_time) }}
                                        <div class='input-group date' id='datetimepicker1'>
                                            {{ form_widget(log_entry.log_entry_open_time) }}
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>         
                                </div>
                                <div class="col-md-2">
                                    <br>
                                    <button type="button" id="now_button" class="btn btn-info-outline btn-block">
                                        Now
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">  
                                    <div class="form-group">
                                        {{ form_label(log_entry.log_blurb) }}
                                        {{ form_errors(log_entry.log_blurb) }}
                                        {{ form_widget(log_entry.log_blurb) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">  
                                    <div class="form-group">
                                    {{ form_label(log_entry.location) }}
                                    {{ form_errors(log_entry.location) }}
                                    {{ form_widget(log_entry.location) }}
                                    </div>
                                </div>
                                <div class="col-md-5">  
                                    <div class="form-group">
                                        {{ form_label(log_entry.reported_by) }}
                                        {{ form_errors(log_entry.reported_by) }}
                                        {{ form_widget(log_entry.reported_by) }}
                                    </div>
                                </div>
                                <div class="col-md-2">  
                                    <div class="form-group">
                                        {{ form_label(log_entry.park_alert) }}
                                        {{ form_widget(log_entry.park_alert) }} 
                                        {{ form_errors(log_entry.park_alert) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">   
				    <div class="form-group">
					<div class="col-md-2">
					    {{ form_label(log_entry.logFiles) }}
					    {{ form_errors(log_entry.logFiles) }}
					</div>
					<div class="col-md-6">
					    <ul class="files list-unstyled" data-prototype="{{ form_widget(log_entry.logFiles.vars.prototype.fileName)|e('html_attr') }} {{ form_widget(log_entry.logFiles.vars.prototype.file)|e('html_attr') }} ">
						{# iterate over each existing location and render its fields #}
						{% for logFile in log_entry.logFiles %}
						    <li>
							{{ form_label(logFile.fileName) }} {{ form_widget(logFile.fileName) }}
                                                        {{ form_label(logFile.file) }} {{ form_widget(logFile.file) }}
                                                    </li>
						{% endfor %}
					    </ul>
					</div>
					{% do log_entry.logFiles.setRendered %}
				    </div>
				</div><br>
                        <br>               
                        {{ form_widget(log_entry.submit) }}
                        {{ form_end(log_entry) }}
                    </div>
                </div>
            </div>
        {% endblock %}
        {% block sidebar %}
            {% include 'sidebar.twig' %}
            {% include 'darksky.html.twig' %}
        {% endblock %}
    {% endembed %}
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        
        var $collectionHolder;
        // setup an "add a file" link
        var $addFileLink = $('<a href="#" class="add_file_link">Add a new file</a>');
        var $newLinkLi = $('<li></li>').append($addFileLink);
        
        $(function () {
            $('#datetimepicker1').datetimepicker({
                useCurrent: true,
                //format: 'YYYY-MM-DD HH:mm:ss z',
                format: 'YYYY-MM-DD HH:mm:ss',
                locale: 'en-gb',
                showTodayButton: true
            });
        });
        
        $('#now_button').click(function(){
            setTime();
        });
        
        $(document).ready(function() {
            setTime();
            
	    // Get the ul that holds the collection of files
            $collectionHolder = $('ul.files');
            // add a delete link to all of the existing files form li elements
            $collectionHolder.find('li').each(function() {
                addFileFormDeleteLink($(this));
            });    
        
            // Get the ul that holds the collection of locations
            $collectionHolder = $('ul.files');
            // add the "add a file" anchor and li to the files ul
            $collectionHolder.append($newLinkLi);
            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);
            $addFileLink.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();
                // add a new filen form (see next code block)
                addFileForm($collectionHolder, $newLinkLi);
            });
        });
        
        function addFileForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');
            // get the new index
            var index = $collectionHolder.data('index');
            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);
            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);
            // Display the form in the page in an li, before the "Add a File" link li
            var $newFormLi = $('<li></li>').append(newForm);
            $newLinkLi.before($newFormLi);
            
            addFileFormDeleteLink($newFormLi);
        }
        
        function addFileFormDeleteLink($fileFormLi) {
            var $removeFormA = $('<a href="#">Delete this File</a>');
            $fileFormLi.append($removeFormA);
            $removeFormA.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();
                // remove the li for the file form
                $fileFormLi.remove();
            });
        }
        
        function setTime(){
            var d = Date();
            var nowTime = moment(d).format("YYYY-MM-DD HH:mm:ss");
            $('.datetimepicker1').val(nowTime);  
        }
        
        
        var locationOptions = {
            url: function(phrase) {
	    	phraseURL = "{{ path('location_lookup', {'location': "phrase"}) }}"
	    	phraseURL = phraseURL.replace("phrase", phrase);
		return phraseURL;
		},
            getValue: "location",
            list: {
		maxNumberOfElements: 6,
		match: {
			enabled: true
		}
            }
        };

        var reportedOptions = {
            url: function(phrase) {
	    	phraseURL = "{{ path('reported_by_lookup', {'reported': "phrase"}) }}"
	    	phraseURL = phraseURL.replace("phrase", phrase);
		return phraseURL;
		},
            getValue: "reported_by",
            list: {
		maxNumberOfElements: 6,
		match: {
			enabled: true
		}
            }
        };

        $("#log_location").easyAutocomplete(locationOptions);
        $("#log_reported_by").easyAutocomplete(reportedOptions);

    </script>        
{% endblock %}
