{% extends 'BathSU.html.twig' %}
{% block headerbottom %}
Control Room Log New Entry
{% endblock %}
{% block layout %}
    {% embed '3-9.html.twig' %}
        {% block content %}
            <div class="wrapper">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Log Entry Form</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{ form_start(log_entry) }}
                            {{ form_errors(log_entry) }}
                            {{ form_widget(log_entry.reset) }}
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form_label(log_entry.operator) }} 
                                        {{ form_errors(log_entry.operator) }}
                                        {{ form_widget(log_entry.operator) }}
                                    </div>
                                </div>
                                <div class="col-md-4">    
                                    <div class="form-group">
                                        {{ form_label(log_entry.log_entry_open_time) }}
                                        {{ form_errors(log_entry.log_entry_open_time) }}
                                        <div class='input-group date' id='datetimepicker1'>
                                            {{ form_widget(log_entry.log_entry_open_time) }}
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>         
                                </div>
                                <div class="col-md-2">
                                    <br>
                                    <button type="button" id="now_button" class="btn btn-info-outline btn-block">
                                        Now
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">  
                                    <div class="form-group">
                                        {{ form_label(log_entry.log_blurb) }}
                                        {{ form_errors(log_entry.log_blurb) }}
                                        {{ form_widget(log_entry.log_blurb) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">  
                                    <div class="form-group">
                                    {{ form_label(log_entry.location) }}
                                    {{ form_errors(log_entry.location) }}
                                    {{ form_widget(log_entry.location) }}
                                    </div>
                                </div>
                                <div class="col-md-5">  
                                    <div class="form-group">
                                        {{ form_label(log_entry.reported_by) }}
                                        {{ form_errors(log_entry.reported_by) }}
                                        {{ form_widget(log_entry.reported_by) }}
                                    </div>
                                </div>
                                <div class="col-md-2">  
                                    <div class="form-group">
                                        {{ form_label(log_entry.park_alert) }}
                                        {{ form_widget(log_entry.park_alert) }} 
                                        {{ form_errors(log_entry.park_alert) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        {{ form_errors(log_entry.log_supportFile) }}
                                        {{ form_widget(log_entry.log_supportFile) }}
                                    </div>
                                </div>
                            </div>
                        <br>               
                        {{ form_widget(log_entry.submit) }}
                        {{ form_end(log_entry) }}
                    </div>
                </div>
            </div>
        {% endblock %}
        {% block sidebar %}
            {% include 'sidebar.twig' %}
        {% endblock %}
    {% endembed %}
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker({
                useCurrent: true,
                format: 'YYYY-MM-DD HH:mm:ss',
                showTodayButton: true
            });
        });
        $('#now_button').click(function(){
            var d = Date();
            var nowTime = moment(d).format("YYYY-MM-DD HH:mm:ss");
            $('.datetimepicker1').val(nowTime);
        });
        
        var locationOptions = {
            url: function(phrase) {return "{{ path('location_lookup', {'location': phrase}) }}";},
            getValue: "location",
            list: {
		maxNumberOfElements: 5,
		match: {
			enabled: true
		}
            }
        };

        var reportedOptions = {
            url: function(phrase) {return "{{ path('reported_by_lookup', {'reported': phrase}) }}";},
            getValue: "reported_by",
            list: {
		maxNumberOfElements: 5,
		match: {
			enabled: true
		}
            }
        };

        $("#new_entry_form_location").easyAutocomplete(locationOptions);
        $("#new_entry_form_reported_by").easyAutocomplete(reportedOptions);
        $("#log_reported_by").easyAutocomplete(reportedOptions);

    </script>        
{% endblock %}
