<div class="row">
    <div class="col-md-12">
        {{ form_start(general_entry) }}
            {{ form_errors(general_entry) }}
            <br>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            {{ form_label(general_entry.general_description) }} 
            {{ form_errors(general_entry.general_description) }}
            {{ form_widget(general_entry.general_description) }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <div class="form-group">
            {{ form_label(general_entry.general_open) }} 
            {{ form_errors(general_entry.general_open) }}
            {{ form_widget(general_entry.general_open) }}
        </div>
    </div>
</div><br>
{% if generalClosed is not null %}
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-info" role="alert">
                <strong>Incident Closed: </strong>{{ generalClosed|date('Y-m-d H:i:s', "Europe/London") }}
            </div>
        </div>
    </div>
{% endif %}
<div class="row">
    <div class="col-md-10">
        {{ form_widget(general_entry.submit_general) }}           
        {{ form_end(general_entry) }}
    </div>
    <div class="col-md-2">
        <button type="button" id="general_close_button" class="btn btn-warning btn-block">
            Hide General
        </button>
    </div>        
</div><br>