{% extends 'BathSU.html.twig' %}
{% block headerbottom %}
Event Control
{% endblock %}
{% block layout %}
    {% embed '3-9.html.twig' %}
        {% block content %}
            {% if iframe is defined %}
                {{ iframe|raw }}
            {% endif %}
            {% if iframeResponsive is defined %}
                <div class="responsive-content">
                    {{ iframeResponsive|raw }}
                </div>
            {% endif %}
            {% if target is defined %}
               <a href="{{ target }}" target="blank">
            {% endif %}
            {% if data is defined%}
                {{ data }}
            {% endif %}
            {% if target is defined %}
                </a>
            {% endif %}
            {% if iframeDynamic is defined %}
                <script type="text/javascript">
                    $('#iframe').attr('src',"{{ iframeDynamic|raw }}");  
                </script>
            {% endif %}
        {% endblock %}
        {% block sidebar %}
            {% include 'sidebar.twig' %}
        {% endblock %}
    {% endembed %}
{% endblock %}
