{% extends 'BathSU.html.twig' %}
{% block headerbottom %}
Control Room Log Map
{% endblock %}
{% block layout %}
    {% embed '3-9.html.twig' %}
        {% block content %}
            <div class="wrapper">
                <div class="row" id="logMapRow">
                    <div class="col-md-12">
                        {% if overlayFileName is empty %}
                            No map available
                        {% else %}
                            <div id="largeLogMap">
                                Loading Map...
                            </div>
                        {% endif %}  
                    </div>
                </div>
                <div class="row" id="Legend">
                    <div class="col-md-12">
                        <h4>Legend</h4>
                        <div class="col-md-2">
                            <strong>Log Type</strong>
                            <ul class="list-group">
                                <li class="list-group-item"><span class="label label-default">Closed</span></li>
                                <li class="list-group-item"><span class="label label-primary">General</span></li>
                                <li class="list-group-item"><span class="label label-info">Lost Property</span></li>
                            </ul>
                        </div>
                        <div class="col-md-2">
                            <strong>Severity / Priority</strong>
                            <ul class="list-group">
                                <li class="list-group-item"><span class="label severity1">Very High</span></li>
                                <li class="list-group-item"><span class="label severity2">High</span></li>
                                <li class="list-group-item"><span class="label severity3">Medium</span></li>
                                <li class="list-group-item"><span class="label severity4">Low</span></li>
                                <li class="list-group-item"><span class="label severity5">Very Low</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
        {% block sidebar %}
            {% include 'sidebar.twig' %}
        {% endblock %}
    {% endembed %}
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
        
        function updateMarkers()
        {
            {% if overlayFileName is not empty %}
                $.getJSON('{{ path('map_json_data') }}', function(data) {
                    $('#logTotal-Total').html(data['Total']);
                    $('#logTotal-Open').html(data['Open']);
                    $('#logTotal-Medical').html(data['Medical']);
                    $('#logTotal-Security').html(data['Security']);
                    $('#logTotal-Lost').html(data['Lost']);
                });
            {% endif %}    
                i++;
                setTimeout(updateMarkers, 5000);
        }


        
        
        
        {% if (longitude is not null) and (latitude is not null) %}
        
            /* 
            * To change this license header, choose License Headers in Project Properties.
            * To change this template file, choose Tools | Templates
            * and open the template in the editor.
            */

            var overlay;
            EventSiteOverlay.prototype = new google.maps.OverlayView();

            // Initialize the map and the custom overlay.

            function initMap() {
                var map = new google.maps.Map(document.getElementById('largeLogMap'), {
                    zoom: 18,
                    center: {lat: {{ latitude }}, lng: {{ longitude }}},
                    mapTypeId: 'satellite'
                });
                
                map.data.loadGeoJson('{{ path('map_json_data') }}');
                
                map.data.forEach(function(feature) {
                    var image = 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|' + feature.getProperty('marker-color');
                    var point = new google.maps.LatLng(feature.getProperty('coordinates'));
                    var mark = new google.maps.Marker({
                        position: point,
                        title: '',
                        icon: image,
                        map: map,
                        draggable: false,
                        animation: google.maps.Animation.DROP
                    });
                });

                var bounds = new google.maps.LatLngBounds(
                    new google.maps.LatLng({{ NEbound }}),
                    new google.maps.LatLng({{ SWbound }})
                );

                var srcImage = '{{ url('overlay', {'filename': overlayFileName}) }}';

                overlay = new EventSiteOverlay(bounds, srcImage, map);

                //var marker = new google.maps.Marker({
                //    position: {lat:{{ latitude }}, lng:{{ longitude }}},
                //    map: map
                //});
            }

            /** @constructor */
            function EventSiteOverlay(bounds, image, map) {

                // Initialize all properties.
                this.bounds_ = bounds;
                this.image_ = image;
                this.map_ = map;

                // Define a property to hold the image's div. We'll
                // actually create this div upon receipt of the onAdd()
                // method so we'll leave it null for now.
                this.div_ = null;

                // Explicitly call setMap on this overlay.
                this.setMap(map);
            }

            /**
             * onAdd is called when the map's panes are ready and the overlay has been
             * added to the map.
             */
            EventSiteOverlay.prototype.onAdd = function() {

                var div = document.createElement('div');
                div.style.borderStyle = 'none';
                div.style.borderWidth = '0px';
                div.style.position = 'absolute';

                // Create the img element and attach it to the div.
                var img = document.createElement('img');
                img.src = this.image_;
                img.style.width = '100%';
                img.style.height = '100%';
                img.style.position = 'absolute';
                div.appendChild(img);

                this.div_ = div;

                // Add the element to the "overlayLayer" pane.
                var panes = this.getPanes();
                panes.overlayLayer.appendChild(div);
            };

            EventSiteOverlay.prototype.draw = function() {

                // We use the south-west and north-east
                // coordinates of the overlay to peg it to the correct position and size.
                // To do this, we need to retrieve the projection from the overlay.
                var overlayProjection = this.getProjection();

                // Retrieve the south-west and north-east coordinates of this overlay
                // in LatLngs and convert them to pixel coordinates.
                // We'll use these coordinates to resize the div.
                var sw = overlayProjection.fromLatLngToDivPixel(this.bounds_.getSouthWest());
                var ne = overlayProjection.fromLatLngToDivPixel(this.bounds_.getNorthEast());

                // Resize the image's div to fit the indicated dimensions.
                var div = this.div_;
                div.style.left = sw.x + 'px';
                div.style.top = ne.y + 'px';
                div.style.width = (ne.x - sw.x) + 'px';
                div.style.height = (sw.y - ne.y) + 'px';
                div.style.opacity = "0.7";
            };

            // The onRemove() method will be called automatically from the API if
            // we ever set the overlay's map property to 'null'.
            EventSiteOverlay.prototype.onRemove = function() {
                this.div_.parentNode.removeChild(this.div_);
                this.div_ = null;
            };

            google.maps.event.addDomListener(window, 'load', initMap);
        {% endif %}
        
    </script>
{% endblock %}
