<div class="row">
    <div class="col-md-12">
        {{ form_start(medical_entry) }}
            {{ form_errors(medical_entry) }}
            <br>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            {{ form_label(medical_entry.medical_reported_injury_type) }} 
            {{ form_errors(medical_entry.medical_reported_injury_type) }}
            {{ form_widget(medical_entry.medical_reported_injury_type) }}
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            {{ form_label(medical_entry.nine_nine_nine_required) }}
            {{ form_widget(medical_entry.nine_nine_nine_required) }}
            {{ form_errors(medical_entry.nine_nine_nine_required) }}
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            {{ form_label(medical_entry.medics_informed) }}
            {{ form_widget(medical_entry.medics_informed) }}
            {{ form_errors(medical_entry.medics_informed) }}
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            {{ form_label(medical_entry.medical_response) }} 
            {{ form_errors(medical_entry.medical_response) }}
            {{ form_widget(medical_entry.medical_response) }}
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            {{ form_label(medical_entry.medical_description) }} 
            {{ form_errors(medical_entry.medical_description) }}
            {{ form_widget(medical_entry.medical_description) }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            {{ form_label(medical_entry.medical_notes) }} 
            {{ form_errors(medical_entry.medical_notes) }}
            {{ form_widget(medical_entry.medical_notes) }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            {{ form_label(medical_entry.medical_treatment) }} 
            {{ form_errors(medical_entry.medical_treatment) }}
            {{ form_widget(medical_entry.medical_treatment) }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            {{ form_label(medical_entry.medical_resolution) }} 
            {{ form_errors(medical_entry.medical_resolution) }}
            {{ form_widget(medical_entry.medical_resolution) }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-10">
        <br>
        {{ form_widget(medical_entry.submit_medical) }}           
        {{ form_end(medical_entry) }}
        <br>
    </div>
    <div class="col-md-2">
        <br>
        <button type="button" id="medical_close_button" class="btn btn-warning btn-block">
            Hide Medical
        </button>
    </div>
</div>