<div class="wrapper">
    <div class="row">
        <div class="col-md-12">
            <h1>{{ event.name }} Event Control</h1>
            {{ event.client }}
            <h2>Log Entry (ID: {{ entry.id }})</h2>
            <strong>Report Produced:</strong> 
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Entry Information</h2>
            <div class="row">
                <div class="col-md-6">
                    <strong>Operator:</strong> {{ entry.operator }}
                </div>
                <div class="col-md-6">
                    <strong>Log Open Time (Timestamp):</strong> {{ entry.I_do_not_exist|date('Y-m-d H:i:s', "Europe/London") }} ({{ entry.log_timestamp|date('Y-m-d H:i:s', "Europe/London") }})
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <strong>Short Description:</strong> {{ entry.logBlurb }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <strong>Location:</strong> {{ entry.location }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <strong>Reported By:</strong> {{ entry.reportedBy }}
                </div>
            </div>
                <div class="row" id="General">
                    <h2>General</h2>
                    {% if general is null %}
                        No General Info
                    {% else %}
                        <strong>Description:</strong><br>
                        {{ general.generalDescription }}
                        <br>
                        <strong>Closed:</strong> {{ general.general_entry_closed_time|date('Y-m-d H:i:s', "Europe/London") }}
                    {% endif %}
                </div>
                <div class="row" id="Medical">
                    <h2>Medical</h2>
                    {% if medical is null %}
                        No Medical Info
                    {% else %}
                        <strong>Injury Type:</strong> {{ medical.medicalReportedInjuryType }}
                        <br>
                        <strong>Description:</strong><br>
                        {{ medical.medicalDescription }}
                        <br>
                        <strong>Medical Response:</strong> {{ medical.medicalResponse }}
                        <br>
                        <strong>999 Required?:</strong> {{ medical.nine_nine_nine_required ? 'Yes':'No' }}
                        <br>
                        <strong>Medical Treatment:</strong> {{ medical.medicalTreatment }}
                        <br>
                        <strong>Medical Resolution:</strong> {{ medical.medicalResolution }}
                        <br>
                        <strong>Notes:</strong><br>
                        {{ medical.medicalNotes }}
                        <br>
                        <strong>Closed:</strong> {{ medical.medical_entry_closed_time|date('Y-m-d H:i:s', "Europe/London") }}
                    {% endif %}
                </div>
                <div class="row" id="Security">
                    <h2>Security</h2>
                    {% if security is null %}
                        No Security Info
                    {% else %}
                        <strong>Security Log Type:</strong> {{ security.securityLogType }}
                        <br>
                        <strong>Security Incident Type:</strong> {{ security.securityIncidentType }}
                        <br>
                        <strong>Description:</strong><br>
                        {{ security.securityDescription }}
                        <br>
                        <strong>Security Dispatched?:</strong> {{ security.securityDispatched ? 'Yes':'No' }}
                        <br>
                        <strong>Security Responded?:</strong> {{ security.securityResponded ? 'Yes':'No' }}
                        <br>
                        <strong>Security Resolution:</strong> {{ security.securityResolution }}
                        <br>
                        <strong>Closed:</strong> {{ security.security_entry_closed_time|date('Y-m-d H:i:s', "Europe/London") }}
                    {% endif %}
                </div>
                <div class="row" id="Lost">
                    <h2>Lost Property</h2>
                    {% if lost is null %}
                        No Lost Property Info
                    {% else %}
                        <strong>Item Lost?</strong> {{ lost.lost_property_item_lost ? 'Yes':'No' }}
                        <br>
                        <strong>Item Found?</strong> {{ lost.lost_property_item_found ? 'Yes':'No' }}
                        <br>
                        <strong>Description:</strong><br>
                        {{ lost.lostPropertyDescription }}
                        <br>
                        <strong>Contact Details:</strong><br>
                        {{ lost.lost_property_contact_details }}
                        <br>
                        <strong>Lost Property Resolution:</strong> {{ lost.lostPropertyResolution }}
                        <br>
                        <strong>Resolution Description:</strong><br>
                        {{ lost.lost_property_resolution_description }}
                        <br>
                        <strong>Closed:</strong> {{ lost.lost_property_entry_closed_time|date('Y-m-d H:i:s', "Europe/London") }}
                    {% endif %}
                </div>                                
        </div>
    </div>
</div>