<div class="wrapper">
    <div class="row">
        <div class="col-md-12">
            <h1>Log Entry(ID: {{ entry.id }})</h1>
            Event: {{ activeEventName() }} <br>
            Report Produced: {{ "now"|date('Y-m-d H:i:s', "Europe/London") }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Entry Information</h2>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <strong>Operator:</strong> {{ entry.operator }}
                </div>
                <div class="col-md-6">
                    <strong>Log Open Time (Timestamp):</strong> {{ entry.log_entry_open_time|date('Y-m-d H:i:s', "Europe/London") }} ({{ entry.log_timestamp|date('Y-m-d H:i:s', "Europe/London") }})
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <strong>Short Description:</strong> {{ entry.logBlurb }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <strong>Location:</strong> {{ entry.location }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <strong>Reported By:</strong> {{ entry.reportedBy }}
                </div>
            </div>
            <br>
                <div class="row" id="General">
                    <h2>General</h2>
                    {% if general is null %}
                        No General Info
                    {% else %}
                        <strong>Description:</strong><br>
                        {{ general.generalDescription }}
                        <br>
                        <strong>Closed:</strong> {{ general.general_entry_closed_time|date('Y-m-d H:i:s', "Europe/London") }}
                        <br>
                    {% endif %}
                </div>
                <div class="row" id="Medical">
                    <h2>Medical</h2>
                    {% if medical is null %}
                        No Medical Info
                    {% else %}
                        <strong>Injury Type:</strong> {{ medical.medical_reported_injury_type }}
                        <br>
                        <strong>Description:</strong><br>
                        {{ medical.medicalDescription }}
                        <br>
                        <strong>Medical Response:</strong> {{ medical.medicalResponse }}
                        <br>
                        <strong>999 Required?:</strong> {{ medical.nine_nine_nine_required ? 'Yes':'No' }}
                        <br>
                        <strong>Medical Treatment:</strong> {{ medical.medicalTreatment }}
                        <br>
                        <strong>Medical Resolution:</strong> {{ medical.medicalResolution }}
                        <br>
                        <strong>Notes:</strong><br>
                        {{ medical.medicalNotes }}
                        <br>
                        <strong>Closed:</strong> {{ medical.medical_entry_closed_time|date('Y-m-d H:i:s', "Europe/London") }}
                        <br>
                    {% endif %}
                </div>
                <div class="row" id="Security">
                    <h2>Security</h2>
                </div>
                <div class="row" id="Lost">
                    <h2>Lost Property</h2>
                </div>                                
        </div>
    </div>
</div>