<html>
    <head>
        <link rel="stylesheet" href="{{ app.request.getSchemeAndHttpHost() ~ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="http://eventcontrol.nb221.com/assets/vendor/bootstrap/dist/css/bootstrap.css">
        <style>
            #logMap {
                height: 300px;
                width: 400px;
            }
        </style>
    </head>
    <body>
        <div class="wrapper">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ event.name }} Event Control</h1>
                    {{ event.client }}<br>
                    Report Produced: {{ "now"|date('Y-m-d H:i:s T', "Europe/London") }}
                    <h2>Log Entry ID:</h2> <h3>{{ entry.id }}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading"><strong>Log Information</strong></div>
                        <div class="panel-body">
                            <strong>Operator: </strong>
                            {{ entry.operator }}<br>
                            <strong>Log Open Time (Submit Timestamp): </strong>
                            {{ entry.logEntryOpenTime|date('Y-m-d H:i:s T', "Europe/London")}} <br>({{ entry.logTimestamp|date('Y-m-d H:i:s T', "Europe/London") }})<br>
                            <strong>Short Description:</strong><br>
                            {{ entry.logBlurb }}<br>
                            <strong>Location: </strong>
                            {{ entry.location }}
                            {% if entry.latitude is not null %}
                                (<strong>GPS Co-ordinates: </strong>
                                {{ entry.latitude|number_format( 6, '.', '') }}, {{  entry.longitude|number_format( 6, '.', '') }}
                                {% if entry.geolocated is not null %}
                                    <strong>Geo-located: </strong>
                                    {{ entry.geolocated ? 'True' : 'False'}}
                                {% endif %}
                                )
                            {% endif %}<br>
                            <strong>Reported By: </strong>
                            {{ entry.reportedBy }}<br>
                        </div>
                        {% if entry.latitude is not null %}
                            <div class="panel-footer">
                                <img width="650" src="https://maps.googleapis.com/maps/api/staticmap?markers=color:blue%7Clabel:%7C{{ entry.latitude }},{{ entry.longitude }}&scale=false&size=650x250&maptype=satellite&format=png&visual_refresh=true&zoom=17&key=AIzaSyBCpMw_PcJRHplbVUskg0ltvmsCWxFyUPU" alt="Google Map of Entry">
                            </div>
                        {% endif %}
                    </div>

                    {% if general is null %}                      
                    {% else %}
                        <div class="panel panel-info" id="General">
                            <div class="panel-heading"><strong>General</strong></div>
                            <div class="panel-body">
                                <strong>Description:</strong><br>
                                {{ general.generalDescription }}<br>
                                <strong>Closed: </strong> {% if general.generalEntryClosedTime %} {{ general.generalEntryClosedTime|date('Y-m-d H:i:s T', "Europe/London") }} {% endif %}
                            </div>
                        </div>
                    {% endif %}
                    {% if medical is null %}
                    {% else %}
                        <div class="panel panel-info" id="Medical">
                            <div class="panel-heading"><strong>Medical</strong></div>
                            <div class="panel-body">
                                <strong>Injury Type: </strong>
                                {{ medical.medicalReportedInjuryType }}<br>
                                <strong>Description:</strong><br>
                                {{ medical.medicalDescription }}<br>
                                <strong>Medical Response: </strong>
                                {{ medical.medicalResponse }}<br>
                                <strong>999 Required?: </strong>
                                {{ medical.nineNineNineRequired ? 'Yes':'No' }}<br>
                                <strong>Medical Treatment: </strong>
                                {{ medical.medicalTreatment }}<br>
                                <strong>Medical Resolution:</strong><br>
                                {{ medical.medicalResolution }}<br>
                                <strong>Notes:</strong><br>
                                {{ medical.medicalNotes }}<br>
                                <strong>Closed: </strong>{% if medical.medicalEntryClosedTime %}{{ medical.medicalEntryClosedTime|date('Y-m-d H:i:s T', "Europe/London") }}{% endif %}<br>
                            </div>
                        </div>
                    {% endif %}
                    {% if security is null %}
                    {% else %}
                        <div class="panel panel-info" id="Security">
                            <div class="panel-heading"><strong>Security</strong></div>
                            <div class="panel-body">    
                                <strong>Security Log Type: </strong>
                                {{ security.securityLogType }}<br>
                                <strong>Security Incident Type: </strong>
                                {{ security.securityIncidentType }}<br>
                                <strong>Description:</strong><br>
                                {{ security.securityDescription }}<br>
                                <strong>Security Dispatched?: </strong>
                                {{ security.securityDispatched ? 'Yes':'No' }}<br>
                                <strong>Security Responded?: </strong>
                                {{ security.securityResponded ? 'Yes':'No' }}<br>
                                <strong>Security Resolution:</strong><br>
                                {{ security.securityResolution }}<br>
                                <strong>Closed: </strong>{% if security.securityEntryClosedTime %}{{ security.securityEntryClosedTime|date('Y-m-d H:i:s T', "Europe/London") }} {% endif %}<br>          
                            </div>
                        </div>
                    {% endif %}
                    {% if lost is null %}
                    {% else %}
                        <div class="panel panel-info" id="Lost">
                            <div class="panel-heading"><strong>Lost Property</strong></div>
                            <div class="panel-body"> 
                                <strong>Item Lost? </strong>
                                {{ lost.lostPropertyItemLost ? 'Yes':'No' }}<br>
                                <strong>Item Found? </strong>
                                {{ lost.lostPropertyItemFound ? 'Yes':'No' }}<br>
                                <strong>Description:</strong><br>
                                {{ lost.lostPropertyDescription }}<br>
                                <strong>Contact Details:</strong><br>
                                {{ lost.lostPropertyContactDetails }}<br>
                                <strong>Lost Property Resolution: </strong>
                                {{ lost.lostPropertyResolution }}<br>
                                <strong>Resolution Description:</strong><br>
                                {{ lost.lostPropertyResolutionDescription }}<br>
                                <strong>Closed: </strong>{% if lost.lostPropertyEntryClosedTime %}{{ lost.lostPropertyEntryClosedTime|date('Y-m-d H:i:s T', "Europe/London") }}{% endif %}<br>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
                
            {% if images is not null %}
                Supporting Files:
                {% for image in images %}
                    <div class="row">
                        <div class="col-md-12">
                            {{ image.fileName }}
                        </div>
                        <div class="col-md-12">
                            <img width="650" src="https://www.w3schools.com/css/img_fjords.jpg">
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </body>
</html>