<html>
    <head>
        <link rel="stylesheet" href="{{ app.request.getSchemeAndHttpHost() ~ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="http://eventcontrol.nb221.com/assets/vendor/bootstrap/dist/css/bootstrap.css">
    </head>
    <body>
        <div class="wrapper">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ event.name }} Event Control</h1>
                    {{ event.client }}<br>
                    Report Produced: {{ "now"|date('Y-m-d H:i:s', "Europe/London") }}
                    <h2>Log Entry ID: {{ entry.id }}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading"><strong>Log Information</strong></div>
                        <div class="panel-body">
                            <strong>Operator: </strong>
                            {{ entry.operator }}<br>
                            <strong>Log Open Time (Submit Timestamp): </strong>
                            {{ entry.logEntryOpenTime|date('Y-m-d H:i:s', "Europe/London")}} ({{ entry.logTimestamp|date('Y-m-d H:i:s', "Europe/London") }})<br>
                            <strong>Short Description:</strong><br>
                            {{ entry.logBlurb }}<br>
                            <strong>Location: </strong>
                            {{ entry.location }}<br>
                            <strong>Reported By: </strong>
                            {{ entry.reportedBy }}<br>
                        </div>
                    </div>
                    {% if general is null %}                      
                    {% else %}
                        <div class="panel panel-info" id="General">
                            <div class="panel-heading"><strong>General</strong></div>
                            <div class="panel-body">
                                <strong>Description:</strong><br>
                                {{ general.generalDescription }}<br>
                                <strong>Closed: </strong> {% if general.generalEntryClosedTime %} {{ general.generalEntryClosedTime|date('Y-m-d H:i:s', "Europe/London") }} {% endif %}
                            </div>
                        </div>
                    {% endif %}
                    {% if medical is null %}
                    {% else %}
                        <div class="panel panel-info" id="Medical">
                            <div class="panel-heading"><strong>Medical</strong></div>
                            <div class="panel-body">
                                <strong>Injury Type: </strong>
                                {{ medical.medicalReportedInjuryType }}<br>
                                <strong>Description:</strong><br>
                                {{ medical.medicalDescription }}<br>
                                <strong>Medical Response: </strong>
                                {{ medical.medicalResponse }}<br>
                                <strong>999 Required?: </strong>
                                {{ medical.nineNineNineRequired ? 'Yes':'No' }}<br>
                                <strong>Medical Treatment: </strong>
                                {{ medical.medicalTreatment }}<br>
                                <strong>Medical Resolution:</strong><br>
                                {{ medical.medicalResolution }}<br>
                                <strong>Notes:</strong><br>
                                {{ medical.medicalNotes }}<br>
                                <strong>Closed: </strong>{% if medical.medicalEntryClosedTime %}{{ medical.medicalEntryClosedTime|date('Y-m-d H:i:s', "Europe/London") }}{% endif %}<br>
                            </div>
                        </div>
                        {% endif %}
                        {% if security is null %}
                        {% else %}
                            <div class="row" id="Security">
                                <div class="col-md-12">
                                    <h3>Security</h3>
                                    <strong>Security Log Type:</strong> {{ security.securityLogType }}
                                    <br>
                                    <strong>Security Incident Type:</strong> {{ security.securityIncidentType }}
                                    <br>
                                    <strong>Description:</strong><br>
                                    {{ security.securityDescription }}
                                    <br>
                                    <strong>Security Dispatched?:</strong> {{ security.securityDispatched ? 'Yes':'No' }}
                                    <br>
                                    <strong>Security Responded?:</strong> {{ security.securityResponded ? 'Yes':'No' }}
                                    <br>
                                    <strong>Security Resolution:</strong><br>
                                    {{ security.securityResolution }}
                                    <br>
                                    <strong>Closed:</strong> {% if security.securityEntryClosedTime %}{{ security.securityEntryClosedTime|date('Y-m-d H:i:s', "Europe/London") }} {% endif %}              
                                </div>
                            </div>
                        {% endif %}
                        {% if lost is null %}
                        {% else %}
                            <div class="row" id="Lost">
                                <div class="col-md-12">
                                    <h3>Lost Property</h3>
                                    <strong>Item Lost?</strong> {{ lost.lostPropertyItemLost ? 'Yes':'No' }}
                                    <br>
                                    <strong>Item Found?</strong> {{ lost.lostPropertyItemFound ? 'Yes':'No' }}
                                    <br>
                                    <strong>Description:</strong><br>
                                    {{ lost.lostPropertyDescription }}
                                    <br>
                                    <strong>Contact Details:</strong><br>
                                    {{ lost.lostPropertyContactDetails }}
                                    <br>
                                    <strong>Lost Property Resolution:</strong> {{ lost.lostPropertyResolution }}
                                    <br>
                                    <strong>Resolution Description:</strong><br>
                                    {{ lost.lostPropertyResolutionDescription }}
                                    <br>
                                    <strong>Closed:</strong> {% if lost.lostPropertyEntryClosedTime %}{{ lost.lostPropertyEntryClosedTime|date('Y-m-d H:i:s', "Europe/London") }}{% endif %}
                                </div>
                            </div>
                        {% endif %}
                </div>
            </div>
        </div>
    </body>
</html>
