<div class="wrapper">
    <div class="row">
        <div class="col-md-12">
            <h1>{{ event.name }} Event Control</h1>
            {{ event.client }}
            Report Produced: {{ "now"|date('Y-m-d H:i:s', "Europe/London") }}
            <h2>Log Entry (ID: {{ entry.id }})</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Entry Information</h2>
            <div class="row">
                <div class="col-md-6">
                    <strong>Operator:</strong> {{ entry.operator }}
                </div>
                <div class="col-md-6">
                    <strong>Log Open Time (Timestamp):</strong> {{ entry.logEntryOpenTime|date('Y-m-d H:i:s', "Europe/London")}} ({{ entry.logTimestamp|date('Y-m-d H:i:s', "Europe/London") }})
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <strong>Short Description:</strong> {{ entry.logBlurb }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <strong>Location:</strong> {{ entry.location }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <strong>Reported By:</strong> {{ entry.reportedBy }}
                </div>
            </div>
                {% if general is null %}                      
                {% else %}
                    <div class="row" id="General">
                        <h2>General</h2>
                        <strong>Description:</strong><br>
                        {{ general.generalDescription }}
                        <br>
                        <strong>Closed:</strong> {{ general.generalEntryClosedTime|date('Y-m-d H:i:s', "Europe/London") }}                    
                    </div>
                {% endif %}
                {% if medical is null %}
                {% else %}
                    <div class="row" id="Medical">
                    <h2>Medical</h2>                    
                        <strong>Injury Type:</strong> {{ medical.medicalReportedInjuryType }}
                        <br>
                        <strong>Description:</strong><br>
                        {{ medical.medicalDescription }}
                        <br>
                        <strong>Medical Response:</strong> {{ medical.medicalResponse }}
                        <br>
                        <strong>999 Required?:</strong> {{ medical.nineNineNineRequired ? 'Yes':'No' }}
                        <br>
                        <strong>Medical Treatment:</strong> {{ medical.medicalTreatment }}
                        <br>
                        <strong>Medical Resolution:</strong> {{ medical.medicalResolution }}
                        <br>
                        <strong>Notes:</strong><br>
                        {{ medical.medicalNotes }}
                        <br>
                        <strong>Closed:</strong> {{ medical.medicalEntryClosedTime|date('Y-m-d H:i:s', "Europe/London") }}
                    
                    </div>
                {% endif %}
                {% if security is null %}
                {% else %}
                    <div class="row" id="Security">
                    <h2>Security</h2>
                        <strong>Security Log Type:</strong> {{ security.securityLogType }}
                        <br>
                        <strong>Security Incident Type:</strong> {{ security.securityIncidentType }}
                        <br>
                        <strong>Description:</strong><br>
                        {{ security.securityDescription }}
                        <br>
                        <strong>Security Dispatched?:</strong> {{ security.securityDispatched ? 'Yes':'No' }}
                        <br>
                        <strong>Security Responded?:</strong> {{ security.securityResponded ? 'Yes':'No' }}
                        <br>
                        <strong>Security Resolution:</strong> {{ security.securityResolution }}
                        <br>
                        <strong>Closed:</strong> {{ security.securityEntryClosedTime|date('Y-m-d H:i:s', "Europe/London") }}                
                    </div>
                {% endif %}
                {% if lost is null %}
                {% else %}
                    <div class="row" id="Lost">
                        <h2>Lost Property</h2>
                        <strong>Item Lost?</strong> {{ lost.lostPropertyItemLost ? 'Yes':'No' }}
                        <br>
                        <strong>Item Found?</strong> {{ lost.lostPropertyItemFound ? 'Yes':'No' }}
                        <br>
                        <strong>Description:</strong><br>
                        {{ lost.lostPropertyDescription }}
                        <br>
                        <strong>Contact Details:</strong><br>
                        {{ lost.lostPropertyContactDetails }}
                        <br>
                        <strong>Lost Property Resolution:</strong> {{ lost.lostPropertyResolution }}
                        <br>
                        <strong>Resolution Description:</strong><br>
                        {{ lost.lostPropertyResolutionDescription }}
                        <br>
                        <strong>Closed:</strong> {{ lost.lostPropertyEntryClosedTime|date('Y-m-d H:i:s', "Europe/London") }}
                    </div>
                {% endif %}
        </div>
    </div>
</div>