<html>
    <head>
        <link rel="stylesheet" href="{{ app.request.getSchemeAndHttpHost() ~ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="http://eventcontrol.nb221.com/assets/vendor/bootstrap/dist/css/bootstrap.css">
    </head>
    <body>
        <div class="wrapper">
            <div class="col-md-12">
                <div class="row">
                    <h1>{{ event.name }} Event Control</h1>
                    {{ event.client }}<br>
                    Report Produced: {{ "now"|date('Y-m-d H:i:s', "Europe/London") }}
                    <h2>Event Summary Sheet</h2>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <h4>Logs recorded between {{ event.eventLogStartDate|date('Y-m-d H:i:s', "Europe/London") }} and {{ event.eventLogStopDate|date('Y-m-d H:i:s', "Europe/London") }}</h4>
                </div>
                <div class="row">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <strong>Total Recorded Individual Logs: </strong>{{ eventTotalLogs(event.id) }}
                        </li>
                        <li class="list-group-item">
                            <strong>Medical Related Logs: </strong> {{ eventMedicalLogs(event.id) }}
                        </li>
                        <li class="list-group-item">
                        <strong>Security Related Logs: </strong> {{ eventSecurityLogs(event.id) }}
                        </li>
                        <li class="list-group-item">
                        <strong>Lost Property Related Logs: </strong>{{ eventLostPropertyLogs(event.id) }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>
