{% extends 'BathSU.html.twig' %}
{% block headerbottom %}

     People Counting
{% endblock %}
{% block layout %}
    {% embed '3-9.html.twig' %}
        {% block content %}
            <div class="wrapper">
                <div class="row">
                    <div class="col-md-12">
                        {% for flashMessage in app.session.flashbag.get('notice') %}
                            <div class="flash notice">
                                {{ flashMessage }}
                            </div>
                        {% endfor %}
                        <h4>Venue</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {% if venues is empty %}
                            No venues
                        {% else %}
                            <table class="table table-striped">
                                <tbody>
                                <tr>
                                    <td><strong>Id</strong></td>
                                    <td><strong>Name</strong></td>
                                    <td><strong>Doors</strong></td>
                                    <td><strong>Count in</strong></td>
                                    <td><strong>Count out</strong></td>
                                    <td><strong>Occupancy</strong></td>
                                    <td><strong>Set doors</strong></td>
                                </tr>
                                {% for venue in venues %}
                                    <tr>
                                        <td>{{ venue.id }}</td>
                                        <td>{{ venue.name }}</td>
                                        <td>{{ venue.doors|date('Y-m-d H:i:s', "Europe/London") }}</td>
                                        <td>{{ venue.count.running_count_in }}</td>
                                        <td>{{ venue.count.running_count_out }}</td>
                                        <td>{{ venue.count.running_count_in-venue.count.running_count_out }}</td>
                                        <td><a href="{{ path('venue_doors', {'id': venue.id}) }}"><span class="glyphicon glyphicon-check" onclick="return confirm('Are you sure you want to set doors for the {{ venue.name }}?')"aria-hidden="true" aria-label="Set doors?"></span></a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            {#<div class="col-md-12">
                                <a href="{{ path('doors', {'id': 'all'}) }}" class="btn btn-warning btn-block">
                                    Sign All Out
                                </a>
                            </div>#}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endblock %}
        {% block sidebar %}
            {% include 'sidebar.twig' %}
        {% endblock %}
    {% endembed %}
{% endblock %}
