{# app/Resources/views/register.html.twig #}
{% extends 'SummerBallBathSU.html.twig' %}
{% block headerbottom %}
    <h2>Control Room User Registration Form</h2>
{% endblock %}
{% block layout %}
    {% embed '3-9.html.twig' %}
        {% block content %}
            {{ form_start(form) }}
                {{ form_row(form.username) }}
                {{ form_row(form.name) }}
                {{ form_row(form.email) }}
                {{ form_row(form.plainPassword.first) }}
                {{ form_row(form.plainPassword.second) }}

                <button type="submit">Register!</button>
            {{ form_end(form) }}
        {% endblock %}
    {% endembed %}
{% endblock %}              