<div class="panel panel-primary">
    <div class="panel-heading">
        Event Info
    </div>
    <div class="panel-body">
        <strong>{{ activeEventName() }}</strong>
        <br>
        User: {{ app.user.username }}
    </div>
</div>
<div class="row">
    <h4>Log Functions</h4>
</div>
<a href="{{ path('new_entry') }}" class="btn btn-primary btn-block" style="margin-bottom:4px;white-space: normal;" role="button">
    <div class="row" data-toggle="tooltip" data-placement="right" title="ctrl-e">
        <div class="col-md-12 col-xs-12">
            <strong>Log Entry</strong>
        </div>
    </div>
</a>
<a href="{{ path('full_log') }}" class="btn btn-default btn-block" style="margin-bottom:4px;white-space: normal;" role="button">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            Full Log View <span class="badge">{{ activeTotalLogs() }}</span>
        </div>
    </div>
</a>
<a href="{{ path('sort_filter_log', {'sort': "desc", 'filter': "open"}) }}" class="btn btn-default btn-block" style="margin-bottom:4px;white-space: normal;" role="button">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            Latest Open <span class="badge">{{ activeOpenLogs() }}</span>
        </div>
    </div>
</a>
<a href="{{ path('sort_filter_type_log', {'sort': "desc", 'filter': "all", 'filter_type': "medical"}) }}" class="btn btn-default btn-block" style="margin-bottom:4px;white-space: normal;" role="button">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            Latest Medical <span class="badge">{{ activeMedicalLogs() }}</span>
        </div>
    </div>
</a>
<a href="{{ path('sort_filter_type_log', {'sort': "desc", 'filter': "all", 'filter_type': "security"}) }}" class="btn btn-default btn-block" style="margin-bottom:4px;white-space: normal;" role="button">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            Latest Security <span class="badge">{{ activeSecurityLogs() }}</span>
        </div>
    </div>
</a>
<a href="{{ path('sort_filter_type_log', {'sort': "desc", 'filter': "all", 'filter_type': "lost"}) }}" class="btn btn-default btn-block" style="margin-bottom:4px;white-space: normal;" role="button">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            Latest Lost Property <span class="badge">{{ activeLostPropertyLogs() }}</span>
        </div>
    </div>
</a>
<br>
<div class="panel panel-info">
    <div class="panel-heading">
        Current Occupancy
    </div>
    <ul class="list-group">
        {% for venue in venues %}
            <li class="list-group-item" id="venue-{{ venue.id }}">{{ venue.name }}: Timeout</li>
        {% endfor %}
    </ul>
</div>
<div class="panel panel-warning">
    <div class="panel-heading">
        UPS Status
    </div>
    <ul class="list-group">
        {% for ups in UPSs %}
            <li class="list-group-item" id="ups-{{ ups.id }}">UPS{{ ups.id }}: Timeout</li>
        {% endfor %}
    </ul>
</div>
<div class="row">
        <h4>Operator Functions</h4>
</div>
<a href="{{ path('user_registration') }}" class="btn btn-default btn-block" style="margin-bottom:4px;white-space: normal;" role="button">
    <div class="row">
        New Operator
    </div>
</a>
<a href="{{ path('user_update') }}" class="btn btn-default btn-block" style="margin-bottom:4px;white-space: normal;" role="button">
    <div class="row">
        Update User Details
    </div>
</a>
<a href="{{ path('logout') }}" class="btn btn-default btn-block" style="margin-bottom:4px;white-space: normal;" role="button">
    <div class="row">
        Logout
    </div>
</a>
<a href="{{ path('signin') }}" class="btn btn-default btn-block" style="margin-bottom:4px;white-space: normal;" role="button">
    <div class="row">
        Register Sign-in
    </div>
</a>
<a href="{{ path('fire_register') }}" class="btn btn-default btn-block" style="margin-bottom:4px;white-space: normal;" role="button">
    <div class="row">
        Register List
    </div>
</a>
    <a href="{{ path('event_list') }}" class="btn btn-default btn-block" style="margin-bottom:4px;white-space: normal;" role="button">
    <div class="row">
        Event System
    </div>
</a>
<div class="row">
        <h4>Files & Information</h4>
</div>
<a href="{{ path('media', {'filename': "ECCoP", 'type': "pdf"}) }}"  target="_blank" class="btn btn-default btn-block" style="margin-bottom:4px;white-space: normal;" role="button">
    <div class="row">
        Code of Practice
    </div>
</a>
<br>
<script type="text/javascript">
    $(document).ready(function() {
        sidebarPoll();
    });
    
    function sidebarPoll(){
        $.getJSON('{{ path('UPS_status') }}', function(data) {
            $.each(data, function(index, ups) {
                var timestamp = new Date(ups.timestamp);
                var now = new Date();
                if ((now-timestamp)>300000){
                    $('#ups-'+ups.id).html("UPS" + ups.id + ": Timeout ("+ ups.status+")");
                } else {
                    $('#ups-'+ups.id).html("UPS" + ups.id + ": "+ ups.status);
                }
                
            });
        });

        $.getJSON('{{ path('venue_json_data') }}', function(data) {
            $.each(data, function(index, venue) {
                //Calculate current occupancy
                var count = venue['count'].running_count_in - venue['count'].running_count_out;
                $('#venue-'+venue.id).html(venue.name + ": "+ count);
            });
        });
        setTimeout(sidebarPoll,1000);
    }
</script>