<div class="panel panel-primary">
    <div class="panel-heading">
        {{ activeEventName(app.user.id) }}
    </div>
    <div class="panel-body">
            <a href="{{ path('user_update') }}">
                <strong>User:</strong> {{ app.user.username }}
            </a>
            <br>
            <a href="{{ path('event_weather_radar') }}">
                <div id="SidebarWeather"><strong>Weather:</strong> {{ activeEventWeather(app.user.id) }}</div>
            </a>
            <a class="locationURL" href="#" target="_blank">
                <div id="Location"><strong>Location:</strong> Updating... </div>
            </a>
    </div>
</div>
<div class="row">
    <h4>Log Functions</h4>
</div>
{% if activeEventId(app.user.id) != 0 %}
    {% if is_granted('ROLE_USER') %}
        <a href="{{ path('new_entry') }}" class="btn btn-primary btn-block" style="margin-bottom:4px;white-space: normal;" role="button">
            <div class="row" data-toggle="tooltip" data-placement="right" title="ctrl-e">
                <div class="col-md-12 col-xs-12">
                    <strong>Log Entry</strong>
                </div>
            </div>
        </a>
    {% endif %}
    <a href="{{ path('full_log') }}" class="btn btn-default btn-block" style="margin-bottom:4px;white-space: normal;" role="button">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                Full Log View <span class="badge" id="logTotal-Total">{{ activeTotalLogs(app.user.id) }}</span>
            </div>
        </div>
    </a>
    <a href="{{ path('sort_filter_log', {'sort': "desc", 'filter': "open"}) }}" class="btn btn-default btn-block" style="margin-bottom:4px;white-space: normal;" role="button">
        <div class="row" data-toggle="tooltip" data-placement="right" title="ctrl-o">
            <div class="col-md-12 col-xs-12">
                Latest Open <span class="badge" id="logTotal-Open">{{ activeOpenLogs(app.user.id) }}</span>
            </div>
        </div>
    </a>
    <a href="{{ path('sort_filter_type_log', {'sort': "desc", 'filter': "all", 'filter_type': "medical"}) }}" class="btn btn-default btn-block" style="margin-bottom:4px;white-space: normal;" role="button">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                Latest Medical <span class="badge" id="logTotal-Medical">{{ activeMedicalLogs(app.user.id) }}</span>
            </div>
        </div>
    </a>
    <a href="{{ path('sort_filter_type_log', {'sort': "desc", 'filter': "all", 'filter_type': "security"}) }}" class="btn btn-default btn-block" style="margin-bottom:4px;white-space: normal;" role="button">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                Latest Security <span class="badge" id="logTotal-Security">{{ activeSecurityLogs(app.user.id) }}</span>
            </div>
        </div>
    </a>
    <a href="{{ path('sort_filter_type_log', {'sort': "desc", 'filter': "all", 'filter_type': "lost"}) }}" class="btn btn-default btn-block" style="margin-bottom:4px;white-space: normal;" role="button">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                Latest Lost Property <span class="badge" id="logTotal-Lost">{{ activeLostPropertyLogs(app.user.id) }}</span>
            </div>
        </div>
    </a>
{% else %}
    <strong>Not assigned to an active event</strong>
{% endif %}
{% if is_granted('ROLE_VIEW') %}
    <div class="row">
        <h4>Status</h4>
    </div>
    {# 
        {% include 'PeopleCountingModule.html.twig' %}
    #}
        <div class="panel panel-info">
            <div class="panel-heading">
                Current Occupancy
            </div>
            <ul class="list-group">
                <li class="list-group-item" id="0">Purchase this People Counting Module now for the Low Low Price of $19.99 per hour and receive your free copy of People Counting Magazine.</li>
            </ul>
        </div>
    {% include 'UPSModule.html.twig' %}
{% endif %}
<div class="row">
    <h4>Operator Functions</h4>
</div>
<a href="{{ path('logout') }}" class="btn btn-default btn-block" style="margin-bottom:4px;white-space: normal;" role="button">
    <div class="row">
        Logout
    </div>
</a>
{% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('user_list') }}" class="btn btn-default btn-block" style="margin-bottom:4px;white-space: normal;" role="button">
        <div class="row">
            Event Control User Settings
        </div>
    </a>
{% endif %}
{% if is_granted('ROLE_USER') %}
    {% if activeEventId(app.user.id) != 0 %}
        <a href="{{ path('signin') }}" class="btn btn-default btn-block" style="margin-bottom:4px;white-space: normal;" role="button">
            <div class="row">
                Fire Register Sign-in
            </div>
        </a>
        <a href="{{ path('fire_register') }}" class="btn btn-default btn-block" style="margin-bottom:4px;white-space: normal;" role="button">
            <div class="row">
                Fire Register
            </div>
        </a>
    {% endif %}
    {#
        <a href="{{ path('peoplecounting') }}" class="btn btn-default btn-block" style="margin-bottom:4px;white-space: normal;" role="button">
            <div class="row">
                People Counting
            </div>
        </a>
    #}
{% endif %}
{% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('event_list') }}" class="btn btn-default btn-block" style="margin-bottom:4px;white-space: normal;" role="button">
        <div class="row">
            Event System Settings
        </div>
    </a>
{% endif %}
<div class="row">
        <h4>Files & Information</h4>
</div>
{% if is_mobile_view() %}
    <a href="{{ path('media', {'filename': "ECCoP", 'type': "pdf"}) }}"  target="_blank" class="btn btn-default btn-block" style="margin-bottom:4px;white-space: normal;" role="button">
{% else %}
    <a href="{{ path('media_iframe', {'filename': "ECCoP", 'type': "pdf"}) }}" class="btn btn-default btn-block" style="margin-bottom:4px;white-space: normal;" role="button">
{% endif %}
    <div class="row">
        Code of Practice
    </div>
    </a>
{% if is_mobile_view() %}
    <a href="{{ path('media', {'filename': "CRC", 'type': "pdf"}) }}"  target="_blank" class="btn btn-default btn-block" style="margin-bottom:4px;white-space: normal;" role="button">
{% else %}
    <a href="{{ path('media_iframe', {'filename': "CRC", 'type': "pdf"}) }}" class="btn btn-default btn-block" style="margin-bottom:4px;white-space: normal;" role="button">
{% endif %}
    <div class="row">
        Control Room Checklist
    </div>
    </a>
    </a>
{% if is_mobile_view() %}
    <a href="http://www.bath.ac.uk/hr/hrdocuments/staying-safe-well/accidents/incident-report-form.docx"  target="_blank" class="btn btn-default btn-block" style="margin-bottom:4px;white-space: normal;" role="button">
{% else %}
    <a href="http://www.bath.ac.uk/hr/hrdocuments/staying-safe-well/accidents/incident-report-form.docx" class="btn btn-default btn-block" style="margin-bottom:4px;white-space: normal;" role="button">
{% endif %}
    <div class="row">
        University of Bath Incident Report Form
    </div>
    </a>
{% if is_granted('ROLE_USER') %}
    {% if activeEventId(app.user.id) != 0 %}
        <div class="row">
                <h4>Control Room Functions</h4>
        </div>
        <div id="LEDBtn1" class="btn btn-default btn-block" style="margin-bottom:4px;white-space: normal;" role="button">
            <div class="row">
                Full Working Light
            </div>
        </div>
        <div id="LEDBtn2" class="btn btn-default btn-block" style="margin-bottom:4px;white-space: normal;" role="button">
            <div class="row">
                Control Mode Working Light
            </div>
        </div>
        <div id="LEDBtn3" class="btn btn-default btn-block" style="margin-bottom:4px;white-space: normal;" role="button">
            <div class="row">
                Lighting Off
            </div>
        </div>
    {% endif %}
{% endif %}
<br>
<script type="text/javascript">
    $(document).ready(function() {
        sidebarPoll();
        updateWeather();
        setInterval('updateWeather()', 30000);
    });
    
    $('#LEDBtn1').click(function(){
        $.post( "{{ path('LED_mode', {'mode': "Working"}) }}" );
        });
        
    $('#LEDBtn2').click(function(){
        $.post( "{{ path('LED_mode', {'mode': "Control"}) }}" );
        });
        
    $('#LEDBtn3').click(function(){
        $.post( "{{ path('LED_mode', {'mode': "Off"}) }}" );
        });
    
    
    var i = 0;
    var lastStatus = ["","","",""];
    
    function sidebarPoll()
    {
        UPSUpdate();
        userLocate();
        //PeopleCounterUpdate();
    
        {% if activeEventId(app.user.id) != 0 %}
            $.getJSON('{{ path('log_json_data') }}', function(data) {
                $('#logTotal-Total').html(data['Total']);
                $('#logTotal-Open').html(data['Open']);
                $('#logTotal-Medical').html(data['Medical']);
                $('#logTotal-Security').html(data['Security']);
                $('#logTotal-Lost').html(data['Lost']);
            });
        {% endif %}    
            i++;
            setTimeout(sidebarPoll,2000);
    }
    
    function updateWeather ( )
        {
            $.ajax({
            type:'POST',
            url: '{{ path('event_weather') }}',
            cache: false,
            global: false,
            success:function(data)
                {
                    $("#SidebarWeather").html("<strong>Weather:</strong> "+data);
                }
            });
        }
        
    function UPSUpdate()
    {
        $.getJSON('{{ path('UPS_status') }}', function(data) {
            $.each(data, function(index, ups) {
                if (ups.loadPercentage !== null && ups.status == "Mains")
                {
                    var statusString = "UPS" + ups.id + ": "+ ups.status+"<br>(Load: "+ups.loadPercentage + "%)";
                }
                else if (ups.timeLeft !== null && ups.status == "Battery")
                {
                    var statusString = "UPS" + ups.id + ": "+ ups.status+"<br>(Battery Time: "+ups.timeLeft + " mins)";
                }
                else
                {
                    var statusString = "UPS" + ups.id + ": "+ ups.status;
                }
                //if ($('#ups-'+ups.id).html().split(' (')[0] !== statusString.split(' (')[0])
                if (lastStatus[ups.id] != ups.status)
                {
                    if (i > 10)
                    {
                        //$('#ups'+ups.id+'ModalLabel').html("UPS " + ups.id + " " + ups.name);
                        //$('#ups'+ups.id+'ModalBody').html("Status: " + ups.status + "<br>Location: " + ups.location);
                        //$('#ups'+ups.id+'Modal').modal('show');
                    }
                    //$('#ups-'+ups.id).html(statusString);
                }
                
                if ($('#ups-'+ups.id).html() != statusString)
                {
                    $('#ups-'+ups.id).html(statusString);
                }
                
                lastStatus[ups.id] = ups.status;
                
            });
        });
    }
    
    function PeopleCounterUpdate()
    {
        $.getJSON('{{ path('venue_json_data') }}', function(data) {
            $.each(data, function(index, venue) {
                if(venue['count']) {
                    //Calculate current occupancy
                    var count_in = venue['count'].running_count_in;
                    var count_out = venue['count'].running_count_out;
                    var count = count_in - count_out;
                    $('#venue-' + venue.id).html(venue.name + ": " + count);
                    if (venue.status === "false") {
                        //console.log("old!");
                        $('#venue-' + venue.id).addClass("flash");
                    } else {
                        $('#venue-' + venue.id).removeClass("flash");
                    }
                }
            });
        });
    }
    
    function userLocate() {
        var options = {
            enableHighAccuracy: true,
            timeout: 1750,
            maximumWait: 1750,     // max wait time for desired accuracy
            maximumAge: 0,          // disable cache
            desiredAccuracy: 30,    // meters
            fallbackToIP: true,     // fallback to IP if Geolocation fails or rejected
            addressLookup: false,    // requires Google API key if true
            timezone: false,         // requires Google API key if true
        };
        
        geolocator.locate(options, function (err, location) {
            if (err) return console.log(err);
            //console.log(location);
            $("a.locationURL").attr("href", "https://maps.google.com/?q="+location.coords.latitude+","+location.coords.longitude+"&z=18&t=k");
            $('#Location').html("<strong>Location:</strong> "+location.coords.latitude.toFixed(6)+","+location.coords.longitude.toFixed(6));
        });
    }
        
</script>
