<div class="row">
    <h4>Event Info</h4>
    Current Event: {{ activeEventName() }}
    <br>
    {{ GlobalTest }}
    <br>
    Current User: {{ app.user.username }}
</div>

<div class="row">
    <h4>Log Functions</h4>
</div>
    <a href="{{ path('new_entry') }}" class="btn btn-primary btn-block" role="button">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <strong>Log Entry</strong>
            </div>
        </div>
    </a>
    <a href="{{ path('full_log') }}" class="btn btn-default btn-block" role="button">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                Full Log View
            </div>
        </div>
    </a>
    <a href="{{ path('sort_filter_log', {'sort': "desc", 'filter': "open"}) }}" class="btn btn-default btn-block" role="button">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                Latest Open
            </div>
        </div>
    </a>
    <a href="{{ path('sort_filter_type_log', {'sort': "desc", 'filter': "all", 'filter_type': "medical"}) }}" class="btn btn-default btn-block" role="button">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                Latest Medical
            </div>
        </div>
    </a>
    <a href="{{ path('sort_filter_type_log', {'sort': "desc", 'filter': "all", 'filter_type': "security"}) }}" class="btn btn-default btn-block" role="button">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                Latest Security
            </div>
        </div>
    </a>
    <a href="{{ path('sort_filter_type_log', {'sort': "desc", 'filter': "all", 'filter_type': "lost"}) }}" class="btn btn-default btn-block" role="button">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                Latest Lost Property
            </div>
        </div>
    </a>
    <div class="row">
        <br>
    </div>
    <div class="row">
            <h4>Operator Functions</h4>
    </div>
    <a href="{{ path('user_registration') }}" class="btn btn-default btn-block" role="button">
        <div class="row">
            New Operator
        </div>
    </a>
    <a href="{{ path('logout') }}" class="btn btn-default btn-block" role="button">
        <div class="row">
            Logout
        </div>
    <a href="{{ path('signin') }}" class="btn btn-default btn-block" role="button">
        <div class="row">
            Register Sign-in
        </div>
    </a>
    <a href="{{ path('fire_register') }}" class="btn btn-default btn-block" role="button">
        <div class="row">
            Register List
        </div>
    </a>
    <div class="row">
        <br>
    </div>
    <div class="row">
            <h4>Files & Information</h4>
    </div>
    <a href="{{ path('media', {'filename': "ECCoP", 'type': "pdf"}) }}"  target="_blank" class="btn btn-default btn-block" role="button">
        <div class="row">
            Code of Practice
        </div>
    </a>
    <br>