{% extends 'BathSU.html.twig' %}
{% block headerbottom %}

    People Counting
{% endblock %}
{% block layout %}
    {% embed '3-9.html.twig' %}
        {% block content %}
            <div class="wrapper">
                <div class="row">
                    <div class="col-md-12">
                        {% for flashMessage in app.session.flashbag.get('notice') %}
                            <div class="flash notice">
                                {{ flashMessage }}
                            </div>
                        {% endfor %}
                        <h4>{{ venue.name }} skew</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {% if skews is empty %}
                            No skews
                        {% else %}
                            <table class="table table-striped">
                                <tbody>
                                <tr>
                                    <td><strong>Id</strong></td>
                                    <td><strong>Timestamp</strong></td>
                                    <td><strong>Skew in</strong></td>
                                    <td><strong>Skew out</strong></td>
                                </tr>
                                {% for skew in skews %}
                                    <tr>
                                        <td>{{ skew.id }}</td>
                                        <td>{{ skew.timestamp|date('Y-m-d H:i:s', "Europe/London") }}</td>
                                        <td>{{ skew.skew_in }}</td>
                                        <td>{{ skew.skew_out }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                <div class="col-md-12">
                    {{ form_start(form) }}
                    <br>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-2">
                                {{ form_label(form.skew_in) }}
                                {{ form_errors(form.skew_in) }}
                            </div>
                            <div class="col-md-2">
                                {{ form_widget(form.skew_in) }}
                            </div>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-2">
                                {{ form_label(form.skew_out) }}
                                {{ form_errors(form.skew_out) }}
                            </div>
                            <div class="col-md-2">
                                {{ form_widget(form.skew_out) }}
                            </div>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-md-4">
                            <button class="btn btn-success btn-block" type="submit">Add skew</button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
            </div>
        {% endblock %}
        {% block sidebar %}
            {% include 'sidebar.twig' %}
        {% endblock %}
    {% endembed %}
{% endblock %}
