{# app/Resources/views/.html.twig #}
{% extends 'BathSU.html.twig' %}
{% block headerbottom %}
    Event Entry Form
{% endblock %}
{% block layout %}
    {% embed '3-9.html.twig' %}
        {% block content %}
            <div class="wrapper">
                <div class="row">
                    <div class="col-md-12">
                        {{ form_start(form) }}
                        <br>

                        <div class="row">
                            <div class="form-group">
                                 <div class="col-md-6">
                                    {{ form_label(form.camera_id) }}
                                    {{ form_errors(form.camera_id) }}
                                    {{ form_widget(form.camera_id) }}
                                </div>
                                <div class="col-md-6">
                                    {{ form_label(form.inverse) }}
                                    {{ form_errors(form.inverse) }}
                                    {{ form_widget(form.inverse) }}
                                </div>
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="col-md-4">
                                <button class="btn btn-success btn-block" type="submit">Add camera to venue</button>
                            </div>
                            {{ form_end(form) }}
                        </div>




                    </div>
                </div>
            </div>
        {% endblock %}
        {% block sidebar %}
            {% include 'sidebar.twig' %}
            {% include 'darksky.html.twig' %}
        {% endblock %}
    {% endembed %}
{% endblock %}
