{# app/Resources/views/.html.twig #}
{% extends 'BathSU.html.twig' %}
{% block headerbottom %}
    Event Entry Form
{% endblock %}
{% block layout %}
    {% embed '3-9.html.twig' %}
        {% block content %}
            <div class="wrapper">
                <div class="row">
                    <div class="col-md-6">
                        {% if venue_detailed_count is empty %}
                            No venue_detailed_count
                        {% else %}
                            <table class="table table-striped">
                                <tbody>
                                <tr>
                                    <td><strong>Camera Id</strong></td>
                                    <td><strong>Camera Name</strong></td>
                                    <td><strong>Camera inverse</strong></td>
                                    <td><strong>Count in</strong></td>
                                    <td><strong>Count out</strong></td>
                                    <td><strong>Occupancy</strong></td>
                                </tr>
                                {% for camera in venue_detailed_count.cameras %}
                                    <tr>
                                        <td>{{ camera.camera_id }}</td>
                                        <td>{{ camera.name }}</td>
                                        {% if  camera.inverse %}
                                        <td>TRUE</td>
                                        {% else %}
                                        <td>FALSE</td>
                                        {% endif %}
                                        <td>{{ camera.count_in }}</td>
                                        <td>{{ camera.count_out }}</td>
                                        <td>{{ camera.count_in-camera.count_out }}</td>
                                    </tr>
                                {% endfor %}
                                {% if venue_detailed_count.skew is empty %}
                                {% else %}
                                    <tr>
                                        <td></td>
                                        <td>Venue Skew</td>
                                        <td></td>
                                        <td>{{ venue_detailed_count.skew.count_in }}</td>
                                        <td>{{ venue_detailed_count.skew.count_out }}</td>
                                        <td>{{ venue_detailed_count.skew.count_in-venue_detailed_count.skew.count_out }}</td>
                                    </tr>
                                {% endif %}
                                    <tr>
                                        <td></td>
                                        <td><strong>Total:</strong></td>
                                        <td></td>
                                        <td><strong>{{  venue_detailed_count.totals.running_count_in }}</strong></td>
                                        <td><strong>{{ venue_detailed_count.totals.running_count_out }}</strong></td>
                                        <td><strong>{{ venue_detailed_count.totals.running_count_in-venue_detailed_count.totals.running_count_out }}</strong></td>
                                    </tr>
                                </tbody>
                            </table>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{ form_start(form) }}
                        <br>

                        <div class="row">
                            <div class="form-group">
                                 <div class="col-md-6">
                                    {{ form_label(form.camera_id) }}
                                    {{ form_errors(form.camera_id) }}
                                    {{ form_widget(form.camera_id) }}
                                </div>
                                <div class="col-md-6">
                                    {{ form_label(form.inverse) }}
                                    {{ form_errors(form.inverse) }}
                                    {{ form_widget(form.inverse) }}
                                </div>
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="col-md-4">
                                <button class="btn btn-success btn-block" type="submit">Add camera to venue</button>
                            </div>
                            {{ form_end(form) }}
                        </div>




                    </div>
                </div>
            </div>
        {% endblock %}
        {% block sidebar %}
            {% include 'sidebar.twig' %}
            {% include 'darksky.html.twig' %}
        {% endblock %}
    {% endembed %}
{% endblock %}
